<template>
  <div>
    <div>
      <BForm inline :class="$style.searchForm" @submit.prevent="doSearch" @reset.prevent="doReset">
        <BFormGroup label="Search Name" class="mr-2">
          <BFormInput v-model="search.name" :disabled="loading" placeholder="Name" />
        </BFormGroup>
        <BFormGroup label="Search Email">
          <BFormInput v-model="search.email" :disabled="loading" placeholder="Email" />
        </BFormGroup>
        <BButton class="mr-2 ml-2 mt-4" :disabled="loading" type="submit" variant="primary">
          Search
        </BButton>
        <BButton class="mt-4" :disabled="loading" type="reset" variant="danger">Clear</BButton>
      </BForm>
    </div>
    <Loading v-if="loading" />
    <div v-else-if="data.length > 0">
      <div class="m-3">
        <BButton variant="primary" :disabled="saving || selected.length === 0" @click="doSave">
          Add Students
        </BButton>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="u in data" :key="u.uid">
            <td>
              <BFormCheckbox
                :disabled="saving"
                :value="u.uid in selected"
                @change="toggleSelection(u.uid)"
              />
            </td>
            <td>
              <img v-if="u.photoUrl" :src="u.photoUrl" :class="$style.avatar" />
              {{ u.name }}
            </td>
            <td>{{ u.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <em>No results found. Try refining the search.</em>
    </div>
  </div>
</template>

<script>
import { BFormCheckbox, BFormInput, BFormGroup, BForm } from 'bootstrap-vue';
import Loading from '../../../components/Loading';
import api from 'helpers/Api';
import qs from 'qs';

export default {
  components: { Loading, BFormCheckbox, BFormInput, BFormGroup, BForm },
  props: {
    groupId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      loading: false,
      saving: false,
      search: {
        name: null,
        email: null,
      },
      data: [],
      selected: [],
    };
  },
  mounted() {
    this.doSearch();
  },
  methods: {
    toggleSelection(uid) {
      const pos = this.selected.indexOf(uid);

      if (pos === -1) {
        this.selected.push(uid);
      } else {
        this.selected.splice(pos, 1);
      }
    },
    async doSearch() {
      this.loading = true;
      const query = qs.stringify(this.search);

      const response = await api.get(`/student_groups/${this.groupId}/students/find?${query}`);

      this.data = response.data;

      this.loading = false;
      return false;
    },
    doReset() {
      this.search.name = null;
      this.search.email = null;
      this.selected = [];
      this.doSearch();
      return false;
    },
    async doSave() {
      this.saving = true;

      await api.post(`/student_groups/${this.groupId}/students`, this.selected);
      this.selected = [];
      await this.doSearch();

      this.saving = false;
    },
  },
};
</script>

<style module>
.searchForm {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 5px;
}
.avatar {
  width: 1em;
  height: 1em;
  border-radius: 2px;
}
</style>
