<template>
  <AdminLayout>
    <div>
      <h1 class="float-left">{{ title }}</h1>
      <BButton v-if="!enableEdit" class="float-left mt-2 ml-4" @click="edit = true">
        Edit Group
      </BButton>
    </div>
    <Loading v-if="loading" size="lg" />
    <div v-else>
      <BForm v-if="enableEdit" inline @submit.prevent="save">
        <BFormGroup
          label="Group Name"
          description="The name will possibly be visible to the students."
        >
          <BFormInput
            v-model="group.name"
            :disabled="saving"
            label="Name"
            placeholder="Name"
            required
            type="text"
          />
        </BFormGroup>
        <BFormGroup v-if="!isNew" class="mr-3">
          <BFormCheckbox v-model="group.inactive" :disabled="saving">Inactive</BFormCheckbox>
        </BFormGroup>
        <BButton :disabled="saving" type="submit" variant="primary">
          {{ isNew ? 'Create Group' : 'Update Group' }}
        </BButton>
        <BButton
          v-if="!isNew"
          :disabled="saving"
          variant="danger"
          class="ml-3"
          @click.prevent="deleteGroup"
        >
          <FaIcon icon="trash" /> Delete Group
        </BButton>
      </BForm>
      <div v-if="!isNew" class="mt-3">
        <h2>Students</h2>
        <div>
          <BButton v-b-modal.addStudent variant="primary">Add Students</BButton>
          <BModal id="addStudent" title="Add Student" size="lg" hide-footer @hidden="loadStudents">
            <AddStudent :group-id="realGroupId" />
          </BModal>
        </div>
        <Loading v-if="studentsLoading" size="lg" />
        <table
          v-else-if="users.length > 0"
          class="table table-striped table-hover table-responsive"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="u in users" :key="u.id">
              <td>
                <RouterLink :to="{ name: 'results_user', params: { uid: u.uid } }">
                  <img v-if="u.photoUrl" :src="u.photoUrl" :class="$style.avatar" />
                  <span>{{ u.name }}</span>
                </RouterLink>
              </td>
              <td>{{ u.email }}</td>
              <td>
                <BButton
                  variant="danger"
                  size="sm"
                  :disabled="studentDeleting"
                  @click="removeStudent(u.uid)"
                >
                  <FaIcon icon="trash" />
                </BButton>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-else><em>No students found</em></div>
      </div>
    </div>
  </AdminLayout>
</template>

<script>
import { BFormCheckbox, BFormInput, BFormGroup, BForm } from 'bootstrap-vue';
import AdminLayout from '../../../AdminLayout';
import Loading from '../../../components/Loading';
import api from 'helpers/Api';
import AddStudent from './AddStudent';
import _findIndex from 'lodash/findIndex';

export default {
  components: { AddStudent, AdminLayout, Loading, BFormCheckbox, BFormInput, BFormGroup, BForm },
  props: {
    groupId: {
      type: [Number, String],
      required: true,
    },
  },
  data() {
    return {
      edit: false,
      loading: true,
      studentsLoading: false,
      studentDeleting: false,
      saving: false,
      group: {
        id: 0,
        name: '',
        inactive: false,
      },
      users: [],
    };
  },
  computed: {
    isNew() {
      return this.groupId === 'new' && this.group.id === 0;
    },
    enableEdit() {
      return this.isNew || this.edit;
    },
    title() {
      if (this.isNew) {
        return 'New Group';
      }
      if (!this.group.name) {
        return 'Group';
      }
      return this.group.name;
    },
    realGroupId() {
      if (this.group.id) {
        return this.group.id;
      }
      return this.groupId;
    },
  },
  mounted() {
    this.load();
    this.loadStudents();
  },
  methods: {
    async load() {
      if (this.isNew) {
        // There is nothing to load if we're new!
        this.loading = false;
        return;
      }
      this.loading = true;

      try {
        const response = await api.get(`student_groups/${this.realGroupId}`);

        this.group = response.data.group;
        this.group.inactive = Boolean(response.data.group.inactive);
      } catch (e) {
        // Probably not found.
        this.$router.go(-1);
        return;
      }
      this.loading = false;
    },
    async loadStudents() {
      if (this.isNew) {
        return;
      }

      this.studentsLoading = true;

      const response = await api.get(`student_groups/${this.realGroupId}/students`);

      this.users = response.data;
      this.studentsLoading = false;
    },
    async save() {
      this.saving = true;

      const response = await api.post(`student_groups/${this.realGroupId}`, this.group);

      if (this.isNew) {
        this.$router.replace({
          name: 'student_groups_edit',
          params: { groupId: response.data.group.id },
        });
      } else {
        this.group = response.data.group;
        this.group.inactive = Boolean(response.data.group.inactive);
        this.saving = false;
        this.edit = false;
      }
    },
    async removeStudent(uid) {
      this.studentDeleting = true;

      await api.delete(`student_groups/${this.realGroupId}/students/${uid}`);

      const pos = _findIndex(this.users, (u) => u.uid === uid);
      if (pos >= 0) {
        this.users.splice(pos, 1);
      }

      this.studentDeleting = false;
    },
    async deleteGroup() {
      this.saving = true;

      await api.delete(`student_groups/${this.realGroupId}`);

      this.$router.push({ name: 'student_groups' });
      return false;
    },
  },
};
</script>

<style module>
.avatar {
  height: 1em;
  width: 1em;
  border-radius: 2px;
}
</style>
