<template>
  <AdminLayout>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h1>Student Groups</h1>
      </div>
      <div v-if="!loading" class="col-md-6 col-sm-12 mt-md-3">
        <BButton
          :to="{ name: 'student_groups_edit', params: { groupId: 'new' } }"
          class="float-left"
        >
          New Group
        </BButton>
        <BFormCheckbox v-model="includeInactive" class="float-left ml-4">
          Show Inactive Groups
        </BFormCheckbox>
      </div>
    </div>
    <Loading v-if="loading" size="lg" />
    <div v-else>
      <table class="table table-hover table-striped table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Qty Users</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="g in data" :key="g.id">
            <td>
              <RouterLink :to="{ name: 'student_groups_edit', params: { groupId: g.id } }">
                {{ g.name }}<em v-if="g.inactive"> (inactive)</em>
              </RouterLink>
            </td>
            <td style="text-align: right;">{{ g.qty_students }}</td>
          </tr>
          <tr v-if="data.length === 0">
            <td colspan="5">
              <div style="text-align: center; font-style: italic;">
                no groups found
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </AdminLayout>
</template>

<script>
import { BFormCheckbox } from 'bootstrap-vue';
import AdminLayout from '../../../AdminLayout';
import Loading from '../../../components/Loading';
import api from 'helpers/Api';

export default {
  components: { Loading, AdminLayout, BFormCheckbox },
  data() {
    return {
      loading: true,
      data: [],
      includeInactive: false,
    };
  },
  watch: {
    includeInactive() {
      this.load();
    },
  },
  mounted() {
    this.load();
  },
  methods: {
    async load() {
      this.loading = true;
      let query = '';
      if (this.includeInactive) {
        query = '?includeInactive=1';
      }
      const response = await api.get(`student_groups${query}`);

      this.data = response.data;
      this.loading = false;
    },
  },
};
</script>
