<template>
  <BButton variant="link" size="sm" @click="doLogout">
    Logout
  </BButton>
</template>

<script>
import { USERNAME_ADMIN } from '../store/mutationTypes';

export default {
  methods: {
    doLogout() {
      this.axios.get('/auth/logout').then(() => {
        this.$store.commit(USERNAME_ADMIN, undefined);
        this.$router.push({ name: 'login' });
      });
    },
  },
};
</script>
