@for $i from 1 through 5 {
    .ql-indent-#{$i} {
        margin-left: 0em + $i;
    }
}

.ql-size-large {
    font-size: 1.5em;
}
.ql-size-huge {
    font-size: 2em;
}
.ql-font-serif {
    font-family: 'Times New Roman', Times, serif;
}

.ql-direction-rtl {
    direction: rtl;
}