<template>
  <BModal
    ref="modal"
    lazy
    size="lg"
    ok-title="Save"
    :title="'Select ' + typeString"
    :ok-disabled="page > 0"
    @ok="okClick"
    @shown="$refs.search.focus()"
    @keyup.enter.native="enterPress"
  >
    <BNav tabs class="mb-2">
      <BNavItem :active="page === 0" @click="page = 0"> Existing {{ typeString }} </BNavItem>
      <BNavItem :active="page === 1" @click="page = 1"> Upload {{ typeString }} </BNavItem>
      <BNavItem v-if="enableMediaWikiSearch" :active="page === 2" @click="page = 2">
        Search Wikipedia Commons
      </BNavItem>
    </BNav>
    <div v-if="page === 0">
      <h2>Selected {{ typeString }}</h2>
      <Draggable v-model="list" class="draggable clearfix">
        <span
          v-for="(a, k) in typeList"
          :key="k"
          class="mr-1 mt-1 float-left border rounded p-1"
          :class="{ 'drag-item': typeList.length > 1 }"
        >
          <span>
            <ImageDisplay
              v-if="type === 'd'"
              :content="{ display: a }"
              video-controls
              display-only
              video-icon
              :width="200"
              :autosize="100"
            />
            <PlayIcon v-if="type === 'a'" :audio="a" style="display: block;" />
            <div>
              <div v-if="type === 'a'">{{ a.caption }}</div>
              <BButton size="sm" variant="link" @click="removeAsset(a.id)">remove</BButton>
            </div>
          </span>
        </span>
      </Draggable>
      <div>
        <div class="mt-2">
          <input
            ref="search"
            v-model="search"
            :placeholder="typeString + ' Search'"
            type="text"
            class="form-control"
            @input="searchAssetsDebounced"
          />
        </div>
        <div class="results mt-2">
          <Loading v-model="loading" />
          <div v-for="(a, k) in results" :key="k" class="border rounded mr-1 mt-1 float-left">
            <ImageDisplay
              v-if="type === 'd'"
              class="p-2"
              always-selectable
              :class="assetClass(a)"
              :content="{ display: a }"
              video-icon
              display-only
              :autosize="75"
              @image-click="selectAsset(a.id)"
            />
            <span v-if="type === 'a'" class="float-left">
              <PlayIcon :audio="a" style="display: block;" />
              <BButton size="sm" variant="link" @click="selectAsset(a.id)">{{ a.caption }}</BButton>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div v-if="page === 1" class="row">
      <div v-if="!loading" class="form-group col-6">
        <label for="upload-file" class="btn btn-secondary">Select File</label>
        <input id="upload-file" type="file" :accept="accept" @change="fileChange" />

        <div class="form-inline mb-2">
          <label for="upload-caption">Caption</label>
          <input id="upload-caption" v-model="upload.caption" type="text" class="form-control" />
        </div>
        <div class="form-inline mb-2">
          <label for="upload-credits">Credits</label>
          <input id="upload-credits" v-model="upload.credits" type="text" class="form-control" />
        </div>
        <div class="form-inline">
          <label for="upload-license">License</label>
          <BFormSelect
            id="upload-license"
            v-model="upload.license"
            :options="licenses"
            text-field="name"
            value-field="id"
          />
          <!--<input id="upload-license" type="text" v-model="upload.license" class="form-control"/>-->
        </div>

        <BButton variant="primary" class="mt-2" @click="submitUpload">
          Upload
        </BButton>
      </div>
      <div v-if="!loading" class="col-6">
        <img
          v-if="imagePreview"
          ref="imagePreview"
          :src="imagePreview"
          style="width: 100%; height: auto;"
          class="rounded"
        />
        <video
          v-if="videoPreview"
          ref="videoPreview"
          :src="videoPreview"
          style="width: 100%; height: auto;"
          class="rounded"
          autoplay
          controls
        />
      </div>
      <Loading v-model="loading" />
    </div>
    <div v-if="page === 2" class="row">
      <div class="col-12">
        <input
          ref="searchMw"
          v-model="searchMw"
          placeholder="Search MediaWiki"
          type="text"
          class="form-control"
          @input="searchMediaWikiDebounced"
        />
        />
      </div>
      <div class="results mt-2 col-12">
        <Loading v-model="loading" />
        <div v-for="(a, k) in resultsMw" :key="k" class="border rounded mr-1 mt-1 float-left">
          <ImageDisplay
            class="p-2"
            :class="{ active: k === selectedMw }"
            always-selectable
            :content="{ display: a }"
            video-icon
            display-only
            :autosize="75"
            @image-click="mediaWikiSelect(k)"
          />
        </div>
        <BButton
          v-if="resultsMw.length > 0"
          size="sm"
          variant="link"
          class="float-left"
          :disabled="pageMwLoading"
          @click="mediaWikiNextPage"
        >
          <FaIcon v-if="!pageMwLoading" icon="plus" />
          <Loading v-else inline size="xs" />
          Load More
        </BButton>
      </div>
      <div class="col-12 pt-2">
        <div class="m-1 row">
          <div class="col-6">
            <div class="form-inline">
              <label for="caption-mw">Caption</label>
              <input
                id="caption-mw"
                v-model="captionMw"
                class="form-control"
                :disabled="importLoadingMw"
              />
            </div>
            <div class="form-inline mt-2">
              <label for="license-mw">License</label>
              <input id="license-mw" v-model="selectedMwLicense" class="form-control" disabled />
            </div>
            <div class="form-inline mt-2">
              <label for="mw-resolution">Resolution</label>
              <input
                id="mw-resolution"
                v-model="mediaWikiSelectedDimens"
                class="form-control"
                disabled
              />
              />
            </div>
            <BButton
              class="mt-2"
              :disabled="selectedMw === null || importLoadingMw"
              variant="primary"
              @click="mediaWikiImport"
            >
              Import
            </BButton>
            <Loading v-model="importLoadingMw" />
          </div>
          <div class="col-6">
            <img
              v-if="imagePreviewMw"
              :src="imagePreviewMw"
              style="width: 100%; height: auto;"
              class="rounded"
            />
            <video
              v-if="videoPreviewMw"
              :src="videoPreviewMw"
              style="width: 100%; height: auto;"
              class="rounded"
              autoplay
              controls
              muted
            />
          </div>
        </div>
      </div>
    </div>
  </BModal>
</template>

<script>
import Draggable from 'vuedraggable';
import Loading from 'components/Loading';
import PlayIcon from 'components/PlayIcon';
import ImageDisplay from 'components/ImageDisplay';
import { BNav, BNavItem, BFormSelect } from 'bootstrap-vue';
import { assetPath } from '../../../helpers/Media';

import api from 'helpers/Api';

import _clone from 'lodash/clone';
import _deboune from 'lodash/debounce';
import _findIndex from 'lodash/findIndex';
import _filter from 'lodash/filter';
import _isArray from 'lodash/isArray';

export default {
  components: {
    Draggable,
    Loading,
    BNav,
    BNavItem,
    PlayIcon,
    ImageDisplay,
    BFormSelect,
  },
  props: {
    // value: [Array, Object],
    type: {
      type: String,
      default: 'd',
    },
    max: {
      type: [Boolean, Number],
      default: 1,
    },
  },
  data() {
    return {
      list: [],
      search: '',
      searchMw: '',
      results: [],
      resultsMw: [],
      selectedMw: null,
      selectedMwLicense: '',
      captionMw: '',
      pageMw: 0,
      pageMwLoading: false,
      importLoadingMw: false,
      loading: false,
      page: 0,
      upload: {},
    };
  },
  computed: {
    maxSelected() {
      if (this.max === true) {
        return 1;
      }
      return this.max;
    },
    typeList() {
      return _filter(this.list, (a) => a.type === this.type);
    },
    qtySelected() {
      return this.typeList.length;
    },
    typeString() {
      if (this.type === 'd') {
        const suffix = this.maxSelected > 1 ? 's' : '';
        return 'Image' + suffix + '/Video' + suffix;
      } else if (this.type === 'a') {
        return 'Audio';
      }
      return '';
    },
    imagePreview() {
      if (this.type === 'd' && this.upload.file && this.upload.file.type.indexOf('image') >= 0) {
        return window.URL.createObjectURL(this.upload.file);
      }
      return null;
    },
    imagePreviewMw() {
      if (this.selectedMw === null) {
        return null;
      }

      const item = this.resultsMw[this.selectedMw];

      if (item.type === 'd' && item.subtype === 'i') {
        return item.name;
      }
      return null;
    },
    videoPreview() {
      if (this.type === 'd' && this.upload.file && this.upload.file.type.indexOf('video') >= 0) {
        return window.URL.createObjectURL(this.upload.file);
      }
      return null;
    },
    videoPreviewMw() {
      if (this.selectedMw === null) {
        return null;
      }

      const item = this.resultsMw[this.selectedMw];

      if (item.type === 'd' && item.subtype === 'v') {
        return item.name;
      }
      return null;
    },
    accept() {
      let fileType;

      if (this.type === 'd') {
        fileType = 'image/*, video/*';
      } else if (this.type === 'a') {
        fileType = 'audio/mpeg';
      }

      return fileType;
    },
    enableMediaWikiSearch() {
      return this.type === 'd';
    },
    mediaWikiSelectedDimens() {
      if (!this.selectedMw) {
        return '';
      }
      const selected = this.resultsMw[this.selectedMw];

      return `${selected.metadata.width}x${selected.metadata.height}`;
    },
    licenses() {
      let lics = _clone(this.$store.getters.setting('licenses'));

      if (lics === undefined) {
        lics = [];
      }

      lics.unshift({
        id: '',
        name: '',
      });

      return lics;
    },
  },
  mounted() {
    this.searchAssetsDebounced = _deboune(this.searchAssets, 500);
    this.searchMediaWikiDebounced = _deboune(this.searchMediaWiki, 500);
  },
  methods: {
    show(value) {
      // make a clone so that changes in the modal don't immediately effect the value.
      if (_isArray(value)) {
        this.list = _clone(value);
      } else {
        if (value.id) {
          this.list = [value];
        }
      }
      this.upload = {
        file: null,
        caption: '',
        credits: '',
        license: '',
      };
      this.$refs.modal.show();
    },
    hide() {
      this.$refs.modal.hide();
    },
    enterPress() {
      if (this.page === 0) {
        this.okClick();
        this.hide();
      }
    },
    okClick() {
      // Emit a clone so that it isn't the same array and stay "linked"
      this.$emit('input', _clone(this.list));
    },
    removeAsset(id) {
      this.list.splice(this.assetKey(id), 1);
      this.$refs.search.focus();
    },
    assetKey(id) {
      return _findIndex(this.list, (i) => i.id === id);
    },
    assetClass(img) {
      let cls = {};

      if (this.assetKey(img.id) > -1) {
        cls.active = true;
      }

      return cls;
    },
    selectAsset(id) {
      let key = this.assetKey(id);
      if (key === -1 && this.qtySelected >= this.maxSelected) {
        this.removeAsset(this.typeList[0].id);

        key = this.assetKey(id);
      }

      if (key > -1) {
        this.removeAsset(id);
      } else {
        const asset = this.results[_findIndex(this.results, (i) => i.id === id)];
        this.list.push(asset);
      }

      this.$refs.search.focus();
    },
    assetPath,
    searchAssetsDebounced() {
      // Overwritten in the mounted event.
    },
    searchAssets() {
      this.results = [];
      if (this.search.length === 0) {
        return;
      }
      this.loading = true;
      return this.axios
        .get('asset/search?type=' + this.type + '&q=' + this.search)
        .then((resp) => {
          this.results = resp.data;
          this.loading = false;
          return resp.data;
        })
        .catch((err) => {
          this.loading = false;
          alert(err);
        });
    },
    searchMediaWikiDebounced() {
      // Overwrittin in the mounted event.
    },
    searchMediaWiki() {
      this.resultsMw = [];
      this.selectedMw = null;
      this.pageMw = 0;
      if (this.searchMw.length === 0) {
        return;
      }
      this.loading = true;
      this.axios
        .get(`asset/search/mw?q=${this.searchMw}`)
        .then((resp) => {
          this.resultsMw = resp.data;
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          alert(err);
        });
    },
    mediaWikiNextPage() {
      this.pageMw++;
      this.pageMwLoading = true;

      this.axios
        .get(`asset/search/mw?q=${this.searchMw}&page=${this.pageMw}`)
        .then((resp) => {
          this.pageMwLoading = false;
          const data = resp.data;
          for (let i = 0; i < data.length; i++) {
            this.resultsMw.push(data[i]);
          }
        })
        .catch((err) => {
          this.pageMwLoading = false;
          this.pageMw--;
          alert(err);
        });
    },
    mediaWikiSelect(k) {
      if (k === this.selectedMw) {
        this.selectedMw = null;
        this.captionMw = '';
        this.selectedMwLicense = '';
      } else {
        this.selectedMw = k;
        this.captionMw = this.resultsMw[k].title;
        this.selectedMwLicense = this.resultsMw[k].license_name;
      }
    },
    mediaWikiImport() {
      this.importLoadingMw = true;
      const image = this.resultsMw[this.selectedMw];
      image.caption = this.captionMw;
      this.axios
        .post(`asset/import/mediawiki`, image)
        .then((res) => {
          this.importLoadingMw = false;
          this.list.push(res.data);
          this.page = 0;
        })
        .catch((err) => alert(err));
    },
    submitUpload() {
      if (!this.upload.file) {
        alert('Please select a file');
        return;
      }
      if (!this.upload.caption) {
        alert('please supply a descriptive caption');
        return;
      }
      let formData = new FormData();

      formData.append('file', this.upload.file);
      formData.append('caption', this.upload.caption);
      formData.append('license', this.upload.license);
      formData.append('credits', this.upload.credits);

      this.loading = true;

      api
        .post('asset/upload', formData)
        .then((resp) => {
          this.page = 0;
          this.search = this.upload.caption;
          this.searchAssets().then(() => {
            this.selectAsset(resp.data.id);
          });
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          alert(err);
        });
    },
    fileChange(e) {
      const file = e.target.files[0];

      if (
        !this.upload.caption ||
        (this.upload.file && this.upload.caption === this.upload.file.name.split('.')[0])
      ) {
        this.upload.caption = file.name.split('.')[0];
      }
      this.upload.file = file;
    },
  },
};
</script>

<style scoped lang="scss">
.image-display {
  height: 100px;
}
.draggable {
  min-height: 140px;
  .drag-item {
    cursor: move;
  }
}
.results .image-display {
  height: 75px;
  padding: 3px;
}
.results .active {
  background-color: darkblue;
}
input[type='file'] {
  position: absolute;
  top: -500px;
}
</style>
