<template>
  <BModal ref="modal" lazy title="Share Asset" ok-title="Save" @ok="save">
    <div v-if="!isLoading">
      <form>
        <ul>
          <li v-for="(id, s) in sites" :key="id" class="custom-checkbox">
            <input
              :id="'site-id-' + id"
              v-model="selected[id]"
              type="checkbox"
              class="custom-control-input"
              :disabled="ownerId === id"
            />
            <label class="custom-control-label" :for="'site-id-' + id">
              {{ s }}
              <em v-if="ownerId === id">(Owner)</em>
            </label>
          </li>
        </ul>
      </form>
      <slot />
      <div class="alert alert-info">
        <FaIcon icon="exclamation-triangle" />
        <strong>Notice: </strong>assets can not be un-shared with a site on which they are used.
      </div>
    </div>
    <Loading v-if="isLoading" />
  </BModal>
</template>

<script>
import Loading from 'components/Loading';
import _find from 'lodash/find';
import _pickBy from 'lodash/pickBy';
import { mapState } from 'vuex';

export default {
  components: { Loading },
  props: {
    // When auto save is disabled, the modal must be manually hidden.
    autoSave: {
      type: Boolean,
      default: true,
      required: false,
    },
  },
  data() {
    return {
      // sites: {},
      loading: true,
      asset: {},
      selected: {},
    };
  },
  computed: {
    ...mapState({
      sites: (state) => state.admin.sites,
    }),
    isLoading() {
      return this.loading || this.$store.state.admin.sitesLoading;
    },
    hasAsset() {
      if (this.asset && this.asset.sites !== undefined) {
        return true;
      }
      return false;
    },
    ownerId() {
      if (!this.hasAsset) {
        return '';
      }
      const owner = _find(this.asset.sites, (s) => s.owner === 1);

      if (owner) {
        return owner.site_id;
      }
      return '';
    },
    selectedSites() {
      const selected = _pickBy(this.selected, (v) => v);
      return Object.keys(selected);
    },
  },
  methods: {
    show(asset) {
      if (asset) {
        this.asset = asset;
      }
      this.loading = false;
      this.selected = {};

      if (this.hasAsset) {
        for (let i = 0; i < asset.sites.length; i++) {
          this.selected[asset.sites[i].site_id] = true;
        }
      }
      this.$refs.modal.show();

      this.$store.dispatch('loadSites', false);
    },
    hide() {
      this.loading = false;
      this.$refs.modal.hide();
    },
    save(e) {
      e.preventDefault();
      this.loading = true;
      if (this.autoSave) {
        this.axios
          .post('asset/' + this.asset.id + '/sites', this.selectedSites)
          .then((resp) => {
            this.loading = false;
            if (resp.data) {
              this.asset.sites = resp.data.sites;
            }
            this.hide();
          })
          .catch((err) => {
            this.loading = false;
            alert(err);
          });
      } else {
        // must be manually hidden.
        this.$emit('save', this.selectedSites);
      }
    },
  },
};
</script>
