<template>
  <BModal
    ref="modal"
    lazy
    size="lg"
    title="Content"
    :ok-variant="okVariant"
    :ok-title="okTitle"
    :ok-only="okOnly"
    @ok="okClick"
    @cancel="cancelClick"
  >
    <BNav tabs>
      <BNavItem v-if="hasEdit" :active="page === PAGE_EDIT" @click="page = PAGE_EDIT">
        Edit Content
      </BNavItem>
      <BNavItem :active="page === PAGE_NEW" @click="page = PAGE_NEW">
        New Content
      </BNavItem>
      <BNavItem :active="page === PAGE_SEARCH" @click="page = PAGE_SEARCH">
        Search Content
      </BNavItem>
    </BNav>

    <div v-if="page === PAGE_EDIT">
      <ContentEdit ref="contentEdit" :key="PAGE_EDIT" v-model="value.id" class="mt-2" />
    </div>
    <div v-if="page === PAGE_NEW">
      <ContentEdit ref="contentNew" :key="PAGE_NEW" class="mt-2" />
    </div>
    <div v-if="page === PAGE_SEARCH">
      <input
        v-model="contentSearch"
        :style="rtlStyle"
        class="mt-2 form-control"
        placeholder="Search Existing by Content"
        @keyup="searchDebounced"
      />
      <input
        v-model="labelSearch"
        class="mt-2 form-control"
        placeholder="Search Existing by Label"
        @keydown="searchDebounced"
      />
      <table v-if="!loading" class="table striped mt-2 table-hover">
        <thead>
          <tr>
            <th>Label</th>
            <th>Text</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(v, k) in searchData" :key="k">
            <td>
              <BButton size="sm" variant="link" @click="selectContent(v)">{{ v.label }}</BButton>
            </td>
            <td>
              <BButton size="sm" variant="link" style="white-space: normal;">
                <ContentDisplay
                  :content="searchData[k]"
                  transparent
                  selectable
                  @text-click="selectContent(v)"
                />
              </BButton>
            </td>

            <td>
              <BButton size="sm" @click="selectContent(v, false)">
                <FaIcon icon="pencil-alt"></FaIcon>
              </BButton>
            </td>
          </tr>
        </tbody>
      </table>
      <Loading v-model="loading" />
    </div>
  </BModal>
</template>

<script>
import IsRtl from '../../../mixins/IsRtl';

import { BNav, BNavItem } from 'bootstrap-vue';
import ContentEdit from './ContentEdit';
import ContentDisplay from 'components/ContentDisplay';
import Loading from 'components/Loading';

import _debounce from 'lodash/debounce';
import api from 'helpers/Api';

const PAGE_EDIT = 0,
  PAGE_NEW = 1,
  PAGE_SEARCH = 2;
export default {
  components: { BNav, BNavItem, ContentEdit, ContentDisplay, Loading },
  mixins: [IsRtl],
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      page: this.value.id ? PAGE_EDIT : PAGE_NEW,
      contentSearch: null,
      labelSearch: null,
      searchData: [],
      loading: false,
      originalItem: this.value,
      PAGE_EDIT,
      PAGE_NEW,
      PAGE_SEARCH,
    };
  },
  computed: {
    hasEdit() {
      return this.value.id > 0;
    },
    okTitle() {
      if (this.page === PAGE_SEARCH) {
        return 'Cancel';
      } else {
        return 'Save';
      }
    },
    okVariant() {
      if (this.page === PAGE_SEARCH) {
        return 'secondary';
      }
      return 'primary';
    },
    okOnly() {
      return this.page === PAGE_SEARCH;
    },
  },
  mounted() {
    this.searchDebounced = _debounce(this.search, 500);
  },
  methods: {
    show() {
      this.$refs.modal.show();
    },
    hide() {
      this.$refs.modal.hide();
    },
    cancelClick() {
      if (this.value.id !== this.originalItem.id) {
        this.$emit('input', this.originalItem);
      }
    },
    okClick(e) {
      if (this.page === PAGE_SEARCH) {
        this.hide();
      } else if (this.page === PAGE_EDIT) {
        e.preventDefault();
        this.$refs.contentEdit.save().then((data) => {
          this.selectContent(data);
        });
      } else if (this.page === PAGE_NEW) {
        e.preventDefault();
        this.$refs.contentNew.save().then((data) => {
          this.selectContent(data);
        });
      }
    },
    searchDebounced() {
      // Will be created in the mounted hook.
    },
    search() {
      if (!this.contentSearch && !this.labelSearch) {
        this.loading = false;
        this.searchData = [];
        return;
      }

      this.loading = true;

      let search = [];

      if (this.contentSearch) {
        search.push(`q=${this.contentSearch}`);
      }
      if (this.labelSearch) {
        search.push(`l=${this.labelSearch}`);
      }

      let searchUri = 'content/search?' + search.join('&');

      api
        .get(searchUri)
        .then((resp) => {
          this.loading = false;
          this.searchData = resp.data;
        })
        .catch((err) => {
          this.loading = false;
          alert(err);
        });
    },
    selectContent(item, close) {
      this.page = PAGE_EDIT;
      this.$emit('input', item);
      if (close === false) {
        this.page = PAGE_EDIT;
      } else {
        this.hide();
      }
    },
  },
};
</script>
