<template>
  <div>
    <div
      :id="id"
      ref="content"
      v-html-caret="contentFormatted"
      contenteditable="true"
      class="form-control"
      @keypress="preventKeys"
      @input="input"
    />

    <div v-if="activeItem">
      Content Item
    </div>
  </div>
</template>

<script>
import HtmlCaret from 'directives/admin/HtmlCaret';

export default {
  directives: { HtmlCaret },
  data() {
    return {
      // content: '',
      contentFormatted: '',
      items: [],
      activeItem: null,
    };
  },
  computed: {
    id() {
      return 'content-' + this._uid;
    },
  },
  methods: {
    input() {
      this.contentFormatted = this.formatText(this.$refs.content.textContent);
    },
    formatText(text) {
      let trailingSpace = /\s/.test(text[text.length - 1]),
        parts = text.trim().split(/\s/),
        formatted = '';
      for (let i = 0; i < parts.length; i++) {
        let p = parts[i];
        if (p.length === 0) {
          continue;
        }
        if (i > 0) {
          formatted += '&nbsp;';
        }

        formatted += `<span>${p}</span>`;
      }

      if (trailingSpace || formatted.length === 0) {
        formatted += '&nbsp;';
      }

      // console.log(trailingSpace, `"${text}"`, text.trim(), parts, `"${formatted}"`);
      return formatted;
    },
    preventKeys(e) {
      if (e.keyCode === 13) {
        // return
        e.preventDefault();
      }
    },
  },
};
</script>

<style scoped>
span.selected {
  background-color: goldenrod;
}
.form-control {
  min-height: 2.5rem;
}
</style>
