<template>
  <div v-if="!loading" class="form-group">
    <label for="content-label">Label <small>(Optional)</small></label>
    <input id="content-label" v-model="label" type="text" class="form-control" />

    <label for="content-text">Text</label>
    <div class="input-group mb-2">
      <textarea
        id="content-text"
        v-model="textFull"
        type="text"
        class="form-control"
        :style="contentStyle"
      />
    </div>

    <!--<draggable-->
    <!--v-model="text"-->
    <!--element="BButton-group"-->
    <!--class="mt-1 draggable"-->
    <!--@end="moveEnd"-->
    <!--&gt;-->
    <!--<div v-for="(t, k) in text" @click="activeText = k" :style="contentStyle" :class="[activeText === k ? 'btn-primary' : 'btn-secondary']" class="btn">{{t.text}}</div>-->
    <!--</draggable>-->
    <!--<BButton :disabled="isNew" size="sm" @click="addWord" v-b-tooltip title="Add word"><FaIcon icon="plus"></FaIcon></BButton>-->
    <!--<BButton :disabled="isNew" size="sm" @click="removeWord" v-b-tooltip title="Remove word"><FaIcon icon="times-circle"></FaIcon></BButton>-->

    <!--<text-edit :disabled="isNew" class="mt-1" v-model="text[activeText]"></text-edit>-->
  </div>
  <Loading v-else class="mt-2" />
</template>

<script>
import Loading from 'components/Loading';

import Content from 'mixins/Content';

import api from 'helpers/Api';

export default {
  components: { Loading },
  mixins: [Content],
  props: {
    value: {
      type: [Number, null],
      required: false,
    },
  },
  data() {
    return {
      label: '',
      text: [],
      textFull: '',
      activeText: 0,
      loading: false,
      tmpString: '',
    };
  },
  computed: {
    isNew() {
      return !this.value;
    },
    // textString: {
    //     get() {
    //         if (this.isNew) {
    //             return this.tmpString;
    //         }
    //         if (this.isRtl) {
    //             return _reduce(this.text, (string, item) => item.text + ' ' + string, '');
    //         }
    //         return _reduce(this.text, (string, item) => string + ' ' + item.text, '');
    //     },
    //     set(val) {
    //         this.tmpString = val;
    //         const
    //             parts = val.split(/\s/),
    //             text = []
    //         ;
    //
    //         for (let p = 0; p < parts.length; p++) {
    //             text.push({
    //                 form_id: null,
    //                 text: parts[p],
    //             });
    //         }
    //
    //         this.text = text;
    //     }
    // },
  },
  watch: {
    value: {
      handler(newVal) {
        if (newVal > 0) {
          this.loading = true;
          api
            .get('content/' + newVal)
            .then((response) => {
              this.label = response.data.label;
              this.text = response.data.text;
              this.textFull = response.data.text_full;
              this.loading = false;
            })
            .catch((err) => alert(err));
        }
      },
      immediate: true,
    },
  },
  methods: {
    save() {
      this.loading = true;
      return api
        .post('content', {
          id: this.value,
          label: this.label,
          text_full: this.textFull,
          text: this.text,
        })
        .then((response) => {
          // this.$emit('input', response.data);
          this.loading = false;

          return response.data;
        })
        .catch((err) => {
          this.loading = false;
          alert(err);
        });
    },
    moveEnd(e) {
      // So the same item is active.
      this.activeText = e.newIndex;
    },
    addWord() {
      this.text.push({ text: '', form: null });
      this.activeText = this.text.length - 1;
    },
    removeWord() {
      this.text.splice(this.activeText, 1);
      if (this.text.length === 0) {
        this.activeText = null;
      } else {
        this.activeText = 0;
      }
    },
  },
};
</script>

<style scoped>
.draggable div.btn-primary {
  cursor: ew-resize;
}
</style>
