<template>
  <div>
    <div v-if="!loading" class="container-fluid no-gutters">
      <div v-if="title !== false" class="row">
        <h1>{{ $t('_content_page_title_' + id) }} ({{ $t('_language_' + language) }})</h1>
      </div>
      <div class="row">
        <div class="form-inline form-group mb-2 col">
          <label for="content-state">State</label>
          <select id="content-state" v-model="state" class="form-control mr-2">
            <option v-for="(s, k) in states" :key="k" :value="k">
              {{ s }}
            </option>
          </select>
          <BButton variant="primary" class="mr-2" @click="save">
            Save
          </BButton>
          <BButton variant="secondary" @click="hide">
            Cancel
          </BButton>
        </div>
      </div>
      <div class="row">
        <div class="col p-0 mb-2 split">
          <div ref="editPane" class="d-flex flex-column">
            <h2>HTML Content</h2>
            <div class="alert alert-secondary" style="font-size: 0.9rem;">
              It is suggested to use a HTML editor to create the code. The full power of
              <a href="https://getbootstrap.com/docs/4.1/utilities/borders/" target="_blank"
                >Bootstrap</a
              >
              is at your desposal.
              <a href="https://www.layoutit.com/build" target="_blank">This Site</a>
              may be useful for generating responsive layouts.
            </div>
            <div class="flex-grow-1">
              <textarea
                v-model="text"
                class="form-control"
                style="width: 100%; height: 100%;"
                @keydown="keydown"
              />
            </div>
          </div>
          <div ref="previewPane">
            <h2>Preview</h2>
            <div class="border rounded p-2" v-html="text" />
          </div>
        </div>
      </div>
    </div>
    <Loading v-if="loading" />
  </div>
</template>

<script>
import Languages from '../../../mixins/Languages';
import Loading from '../../Loading';
// import TextEditor from './RichTextEditor';
import Split from 'split.js';

const STATE_DRAFT = 0,
  STATE_PUBLISHED = 1;

export default {
  components: { Loading },
  mixins: [Languages],
  props: {
    title: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      id: null,
      language: null,
      state: STATE_DRAFT,
      text: null,
      loading: true,
      states: {
        [STATE_DRAFT]: 'Draft',
        [STATE_PUBLISHED]: 'Published',
      },
    };
  },
  methods: {
    show(page, lang) {
      this.id = page.id;
      this.language = lang;
      this.load();
    },
    hide() {
      this.$emit('done');
    },
    load() {
      this.loading = true;
      this.axios
        .get(`content_page/${this.id}/${this.language}`)
        .then((res) => {
          this.state = res.data.state;
          this.text = res.data.text;
          this.loading = false;
          this.initSplit();
        })
        .catch((err) => {
          this.loading = false;
          if (err.response && err.response.status === 404) {
            // This page doesn't exist yet.
            this.text = null;
            this.initSplit();
          } else {
            alert(err);
          }
        });
    },
    save(e) {
      e.preventDefault();
      this.axios
        .post(`content_page/${this.id}/${this.language}`, {
          state: this.state,
          text: this.text,
        })
        .then(() => {
          this.loading = false;
          this.hide();
        })
        .catch((err) => alert(err));
    },
    initSplit() {
      this.$nextTick(() => {
        Split([this.$refs.editPane, this.$refs.previewPane], {});
      });
    },
    keydown(e) {
      if (e.keyCode === 9) {
        e.preventDefault();
        this.insertTab(e.currentTarget);
        this.text = e.currentTarget.value;
      }
      return false;
    },
    insertTab: function (textBox) {
      const pos = this.getCaretPosition(textBox),
        preText = textBox.value.substring(0, pos),
        postText = textBox.value.substring(pos, textBox.value.length);
      textBox.value = preText + '\t' + postText; // input tab key

      this.setCaretPosition(textBox, pos + 1);
    },
    setCaretPosition(item, pos) {
      // Firefox, Chrome, IE9~ Support
      if (item.setSelectionRange) {
        item.focus();
        item.setSelectionRange(pos, pos);
      }
      // ~IE9 Support
      else if (item.createTextRange) {
        const range = item.createTextRange();
        range.collapse(true);
        range.moveEnd('character', pos);
        range.moveStart('character', pos);
        range.select();
      }
    },
    getCaretPosition(item) {
      let caretPosition = 0;

      // Firefox, Chrome, IE9~ Support
      if (item.selectionStart || item.selectionStart == '0') {
        caretPosition = item.selectionStart;
      }
      // ~IE9 Support
      else if (document.selection) {
        item.focus();
        const sel = document.selection.createRange();
        sel.moveStart('character', -item.value.length);
        caretPosition = sel.text.length;
      }

      return caretPosition;
    },
  },
};
</script>

<style scoped lang="scss">
.split {
  > div {
    float: left;
    height: 100%;
  }
  /deep/ .gutter {
    float: left;
    height: calc(100%);
    border-radius: 2px;

    &:hover {
      background-color: lightgray;
      cursor: col-resize;
    }
  }

  box-sizing: border-box;
}
</style>
