<template>
  <div>
    <div v-once ref="editor" v-html="value" />
  </div>
</template>

<script>
import Quill from 'config/admin/Quill';

export default {
  components: {},
  props: {
    value: {
      type: String,
    },
  },
  data() {
    return {
      quill: null,
    };
  },
  computed: {
    text: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  mounted() {
    this.quill = new Quill(this.$refs.editor, {
      theme: 'snow',
      modules: {
        toolbar: {
          container: [
            { header: [1, 2, 3, false] },
            'bold',
            'italic',
            'underline',
            'strike',
            { list: 'ordered' },
            { list: 'bullet' },
            'blockquote',
            { color: [] },
            { background: [] },
            { font: [] },
            { size: [] },
            { direction: 'rtl' },
            { align: [] },
            { indent: '+1' },
            { indent: '-1' },
            /*'image',*/ 'clean',
          ],
        },
      },
    });

    this.quill.on('text-change', () => {
      this.$emit('input', this.quill.root.innerHTML);
    });
  },
};
</script>

<style scoped></style>
