<template>
  <div>
    <editor-menu-bar :editor="editor">
      <div slot-scope="{ commands, isActive }" class="menubar">
        <div class="mb-1">
          <button class="btn btn-sm" @click="commands.undo">
            <FaIcon icon="undo" />
          </button>

          <button class="btn btn-sm" @click="commands.redo">
            <FaIcon icon="redo" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.bold() }"
            @click="commands.bold"
          >
            <FaIcon icon="bold" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.italic() }"
            @click="commands.italic"
          >
            <FaIcon icon="italic" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.strike() }"
            @click="commands.strike"
          >
            <FaIcon icon="strikethrough" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.underline() }"
            @click="commands.underline"
          >
            <FaIcon icon="underline" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.paragraph() }"
            @click="commands.paragraph"
          >
            <FaIcon icon="paragraph" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.heading({ level: 1 }) }"
            @click="commands.heading({ level: 1 })"
          >
            H1
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.heading({ level: 2 }) }"
            @click="commands.heading({ level: 2 })"
          >
            H2
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.heading({ level: 3 }) }"
            @click="commands.heading({ level: 3 })"
          >
            H3
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.bullet_list() }"
            @click="commands.bullet_list"
          >
            <FaIcon icon="list-ul" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.ordered_list() }"
            @click="commands.ordered_list"
          >
            <FaIcon icon="list-ol" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.blockquote() }"
            @click="commands.blockquote"
          >
            <FaIcon icon="quote-right" />
          </button>

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.code() }"
            @click="commands.code"
          >
            <FaIcon icon="code" />
          </button>

          <!--<button-->
          <!--class="btn btn-sm"-->
          <!--:class="{ 'btn-primary': isActive.link() }"-->
          <!--@click="commands.link"-->
          <!--&gt;-->
          <!--<FaIcon icon="link"/>-->
          <!--</button>-->

          <button
            class="btn btn-sm"
            :class="{ 'btn-primary': isActive.table() }"
            @click="
              commands.createTable({
                rowsCount: 3,
                colsCount: 3,
                withHeaderRow: false,
              })
            "
          >
            <FaIcon icon="table" />
          </button>
        </div>
        <div class="mb-1">
          <span v-if="isActive.table()">
            <button class="btn btn-sm" @click="commands.deleteTable">
              <FaIcon icon="trash" />
              Remove Table
            </button>
            <button class="btn btn-sm" @click="commands.addColumnBefore">
              Add Column Before
            </button>
            <button class="btn btn-sm" @click="commands.addColumnAfter">
              Add Column After
            </button>
            <button class="btn btn-sm" @click="commands.deleteColumn">
              <FaIcon icon="trash" />
              Delete Colum
            </button>
            <button class="btn btn-sm" @click="commands.addRowBefore">
              Add Row Before
            </button>
            <button class="btn btn-sm" @click="commands.addRowAfter">
              Add Row After
            </button>
            <button class="btn btn-sm" @click="commands.deleteRow">
              <FaIcon icon="trash" />
              Delete Row
            </button>
            <button class="btn btn-sm" @click="commands.toggleCellMerge">
              Merge Cells
            </button>
          </span>
        </div>
      </div>
    </editor-menu-bar>
    <div class="alert alert-warning">
      For tables, the final layout design is significantly different than below. Preview the page in
      the learing app. This will hopefully get fixed some day.
    </div>
    <editor-content class="border rounded pl-1 pr-1" :editor="editor" />
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar, Doc, Text } from 'tiptap';
import {
  BulletList,
  CodeBlock,
  // HardBreak,
  Heading,
  ListItem,
  OrderedList,
  // TodoItem,
  // TodoList,
  Bold,
  Code,
  Italic,
  // Link,
  Strike,
  Underline,
  History,
  TableHeader,
  TableRow,
  TableCell,
} from 'tiptap-extensions';
import Blockquote from 'lib/admin/tiptap/Blockquote';
import Table from 'lib/admin/tiptap/Table';
import Paragraph from 'lib/admin/tiptap/Paragraph';

import 'prosemirror-tables/style/tables.css';

export default {
  components: { EditorContent, EditorMenuBar },
  props: {
    value: [String],
  },
  data() {
    return {
      editor: new Editor({
        extensions: [
          new Doc(),
          new Text(),
          new Paragraph(),
          new Blockquote({
            attrs: {
              class: 'blockquote',
            },
          }),
          new BulletList(),
          new CodeBlock(),
          new Heading({ levels: [1, 2, 3] }),
          new ListItem(),
          new OrderedList(),
          new Bold(),
          new Code(),
          new Italic(),
          // new Link(),
          new Strike(),
          new Underline(),
          new History(),
          new Table(),
          new TableHeader(),
          new TableRow(),
          new TableCell(),
        ],
        content: this.value,
        useBuiltInExtensions: false,
        onUpdate: ({ getHTML }) => {
          this.$emit('input', getHTML());
        },
      }),
    };
  },
  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style scoped></style>
