<template>
  <div v-if="value !== undefined" class="form-inline">
    <label for="text">Text</label>
    <input
      id="text"
      v-model="value.text"
      :disabled="disabled"
      class="form-control"
      type="text"
      :style="contentStyle"
    />
  </div>
</template>

<script>
import Content from 'mixins/Content';

export default {
  mixins: [Content],
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    value: Object,
  },
  methods: {},
};
</script>
