<template>
  <div class="activity-config">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12 form-inline">
          <div class="form-group">
            <label for="activity-type">Type</label>
            <select
              id="activity-type"
              v-model="value.type"
              :disabled="typeConfigured"
              class="form-control"
              @change="changed"
            >
              <option v-for="(v, k) in activityTypes" :key="k" :value="k">
                {{ v.title }}
              </option>
            </select>
          </div>
          <div class="pl-2">
            <div v-html="typeConfig.description" />
            <div class="form-inline">
              <div v-for="(c, k) in typeConfig.options" :key="k" class="form-group">
                <label :for="'activity-option-' + k">{{ c.label }}</label>
                <input
                  :id="'activity-option-' + k"
                  v-model="value.config[k]"
                  v-b-tooltip.focus="c.description"
                  class="form-control mr-2"
                  :type="c.type"
                  :style="c.inputStyle"
                  @change="changed"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div v-if="!!value.type" class="col">
          <Draggable v-model="value.pages" handle=".page-sort-handle" @input="changed">
            <div v-for="(p, k) in value.pages" :key="k" class="border rounded sort-item">
              <PageConfig
                v-model="value.pages[k]"
                :config="typeConfig.pages"
                @input="changed"
                @delete-page="removePage(k)"
                @insert-page="addPage(k)"
              >
                <template #sort-handle>
                  <div v-b-tooltip.hover class="page-sort-handle" title="Order Page">
                    <FaIcon icon="arrows-alt-v" />
                  </div>
                </template>
              </PageConfig>
            </div>
          </Draggable>
          <BButton v-if="value.pages.length === 0" variant="primary" size="sm" @click="addPage(0)">
            Add Page
          </BButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageConfig from './PageConfig';
import Draggable from 'vuedraggable';

import ActivityTypes from 'config/admin/ActivityTypes';

export default {
  components: { Draggable, PageConfig },
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      activityTypes: ActivityTypes,
      typeConfigured: true,
    };
  },
  computed: {
    typeConfig() {
      if (!this.value.type || ActivityTypes[this.value.type] === undefined) {
        return {};
      }
      return ActivityTypes[this.value.type];
    },
  },
  watch: {
    value: {
      handler(newVal) {
        this.typeConfigured = newVal.type !== null;
      },
      immediate: true,
    },
  },
  methods: {
    addPage(after) {
      this.value.pages.splice(after + 1, 0, {
        items: [
          {
            assets: [],
            config: {},
            content: {
              id: null,
            },
          },
        ],
        config: {},
        content: {},
        assets: [],
      });
      this.changed();
    },
    removePage(e) {
      this.value.pages.splice(e, 1);
      this.changed();
    },
    changed() {
      this.$emit('input', this.value);
    },
  },
};
</script>

<style scoped>
.sort-item {
  padding: 0.5rem 1rem;
}
.page-sort-handle {
  cursor: move;
  font-size: 1rem;
  padding-top: 3px;
  padding-right: 0.5rem;
}
</style>
