<template>
  <span>
    <BButton :disabled="disabled" size="sm" @click="showModal">
      Copy Activity
    </BButton>

    <BModal
      ref="modal"
      lazy
      title="Copy Activity"
      ok-title="Copy"
      :ok-disabled="saving"
      :cancel-disabled="saving"
      @ok="save"
    >
      <div class="border p-2 mb-2">
        <strong>Copy From</strong>
        <div class="form-inline mb-2 mt-2">
          <label>Lesson</label>
          <select v-model="lessonId" class="form-control">
            <option v-for="(l, k) in lessonData" :key="k" :value="k">{{
              $t('_lesson_' + l.id)
            }}</option>
          </select>
        </div>

        <div v-if="lessonId !== null" class="form-inline">
          <label>Activity</label>
          <select v-model="activityId" class="form-control">
            <option v-for="(a, k) in lessonData[lessonId].activities" :key="k" :value="a.id">{{
              $t('_activity_' + a.id)
            }}</option>
          </select>
        </div>
      </div>

      <div class="border p-2">
        <strong>New Activity</strong>
        <div class="form-inline mb-2 mt-2">
          <label>Lesson</label>
          <select v-model="newLessonId" class="form-control">
            <option v-for="(l, k) in lessonData" :key="k" :value="l.id">{{
              $t('_lesson_' + l.id)
            }}</option>
          </select>
        </div>

        <div class="form-group mb-2">
          <label for="new-activity-type">Type</label>
          <select id="new-activity-type" v-model="newActivityType" class="form-control">
            <option v-for="(v, k) in activityTypes" :key="k" :value="k">{{ v.title }}</option>
          </select>
        </div>

        <div>
          <EditableStringInputs ref="titles" :string-id="''" item-label="New Activity Title" />
        </div>
      </div>
    </BModal>
  </span>
</template>

<script>
import Lessons from 'mixins/Lessons';
import EditableStringInputs from './EditableStringInputs';

import _clone from 'lodash/cloneDeep';
import _each from 'lodash/forEach';

import ActivityTypes from 'config/admin/ActivityTypes';

export default {
  components: { EditableStringInputs },
  mixins: [Lessons],
  props: {
    disabled: Boolean,
  },
  data() {
    return {
      saving: false,
      lessonId: null,
      activityId: null,
      newLessonId: null,
      newActivityType: null,
      activityTypes: ActivityTypes,
    };
  },
  methods: {
    showModal() {
      this.$refs.modal.show();
    },
    save(e) {
      e.preventDefault();
      if (!this.activityId || !this.newLessonId || !this.newActivityType) {
        alert('Please populate all fields');
        return;
      }

      this.saving = true;

      this.$store
        .dispatch('loadActivity', this.activityId)
        .then((activity) => {
          const newConfig = ActivityTypes[this.newActivityType],
            maxDisplay = newConfig.pages.image === true ? 1 : newConfig.pages.image,
            maxAudio = newConfig.pages.audio === true ? 1 : newConfig.pages.audio,
            pageContent = newConfig.pages.options && newConfig.pages.options.content === true,
            itemContent = newConfig.pages.content === true;
          let newActivity = _clone(activity);

          newActivity.id = null;
          newActivity.lesson_id = this.newLessonId;
          newActivity.type = this.newActivityType;
          if (newActivity.type !== activity.type) {
            newActivity.config = {};
          }

          _each(newActivity.pages, (page) => {
            page.id = null;
            if (!pageContent) {
              page.content = { id: null, label: null, text: [] };
            }
            if (newActivity.type !== activity.type) {
              page.config = {};
            }
            _each(page.items, (item) => {
              item.id = null;
              let qtyDisplay = 0,
                qtyAudio = 0,
                assets = [];
              _each(item.assets, (asset) => {
                if (asset.type === 'd') {
                  qtyDisplay++;
                  if (qtyDisplay <= maxDisplay) {
                    assets.push(asset);
                  }
                } else if (asset.type === 'a') {
                  qtyAudio++;
                  if (qtyAudio <= maxAudio) {
                    assets.push(asset);
                  }
                }
              });
              item.assets = assets;
              if (!itemContent) {
                // reset the content if the target type doesn't support it.
                item.content = { id: null, label: null, text: [] };
              }
            });
          });

          this.axios
            .post('activity', newActivity)
            .then((res) => {
              newActivity = res.data;

              this.$refs.titles
                .save('_activity_' + newActivity.id)
                .then(() => {
                  this.loadLessons(true)
                    .then(() => {
                      this.saving = false;
                      this.$refs.modal.hide();
                      this.$emit('saved', { id: newActivity.id });
                    })
                    .catch((err) => alert(err));
                })
                .catch((err) => alert(err));
            })
            .catch((err) => alert(err));
        })
        .catch((err) => alert(err));
    },
  },
};
</script>
