<template>
  <BModal
    ref="modal"
    title="Copy translations from other site"
    ok-title="Copy"
    :ok-disabled="isLoading"
    :cancel-disabled="isLoading"
    hide-header-close
    @ok="doCopy"
  >
    <div v-if="!isLoading">
      <div class="alert alert-warning mt-2">
        <FaIcon icon="exclamation-triangle" />
        Existing translations will not be affected, only translations that are missing in the
        current site will be added.
      </div>
      <BSelect v-model="site" :options="sites" />
      <div class="alert alert-danger mt-2">
        <FaIcon icon="exclamation-triangle" />
        This can not be un-done!
      </div>
    </div>
    <Loading v-if="isLoading" />
  </BModal>
</template>

<script>
import { BFormSelect } from 'bootstrap-vue';
import Loading from '../Loading';

import Api from 'helpers/Api';

import { LoadTranslations } from '../../i18n';

export default {
  components: { Loading, BSelect: BFormSelect },
  data() {
    return {
      site: null,
      loading: false,
    };
  },
  computed: {
    isLoading() {
      return this.$store.state.admin.sitesLoading || this.loading;
    },
    sites() {
      const sites = this.$store.state.admin.sites;
      let options = [{ value: null, text: 'Select a site to copy from' }];

      for (let k in sites) {
        options.push({
          value: sites[k],
          text: sites[k],
        });
      }

      return options;
    },
  },
  methods: {
    show() {
      this.$refs.modal.show();
      this.loading = false;

      this.$store.dispatch('loadSites', false);
    },
    async doCopy(e) {
      e.preventDefault();

      if (!this.site) {
        alert('Please select a site to copy from');
        return false;
      }

      this.loading = true;

      const lang = this.$store.state.locale;

      await Api.post(`translation/${lang}/copy_from/${this.site}`);

      await LoadTranslations(lang);

      this.loading = false;
    },
  },
};
</script>
