<template>
  <span>
    <BButton size="sm" variant="danger" @click="showModal">
      <FaIcon icon="trash" />
    </BButton>

    <BModal ref="modal" lazy :title="title" ok-title="Delete" />
  </span>
</template>

<script>
export default {
  components: {},
  props: {
    itemId: {
      type: Number,
      default: 0,
    },
    type: {
      type: String,
      default: '',
    },
  },
  computed: {
    title() {
      return this.type.replace(/(^|\s)\S/g, (l) => l.toUpperCase());
    },
  },
  methods: {
    showModal() {
      this.$refs.modal.show();
    },
  },
};
</script>

<style scoped lang="scss"></style>
