<template>
  <span>
    <div v-for="l in langData" :key="l" class="form-row mb-2">
      <label :for="'text_' + l">{{ $t('_language_' + l) }} {{ itemLabel }}</label>
      <input :id="'text_' + l" v-model="values[l]" class="form-control" @change="$emit('change')" />
    </div>
  </span>
</template>

<script>
import Languages from 'mixins/Languages';
import { LoadTranslations, MergeTranslation } from 'i18n';

export default {
  mixins: [Languages],
  props: {
    stringId: {
      type: String,
      required: true,
    },
    itemLabel: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      values: {},
    };
  },
  mounted() {
    this.loadValues();
    this.loadLanguages().then(() => {
      this.$emit('ready');
    });
  },
  methods: {
    async save(stringId) {
      if (stringId === undefined) {
        stringId = this.stringId;
      }
      await this.axios.post(`translation/string/${stringId}`, this.values);
      // refresh the translations after the save.
      await LoadTranslations(this.$store.state.locale);
      this.refreshOtherLocales(stringId);
    },
    async loadValues() {
      if (!this.stringId) {
        // There is nothing to load!
        return;
      }
      const response = await this.axios.get('translation/string/' + this.stringId);
      this.values = response.data;
      this.refreshOtherLocales();
    },
    refreshOtherLocales(stringId) {
      if (stringId === undefined) {
        stringId = this.stringId;
      }
      for (const locale of this.langData) {
        if (locale !== this.$store.state.locale && this.values[locale]) {
          MergeTranslation(locale, { [stringId]: this.values[locale] });
        }
      }
    },
  },
};
</script>
