<template>
  <span>
    <span v-if="visible" style="vertical-align: middle;">
      <slot>{{ $t(stringId) }}</slot>
    </span>
    <BButton
      :id="`editable-string-${_uid}`"
      :variant="variant"
      :size="size"
      :class="{ 'p-0': variant === 'link' }"
      href="#"
      tabindex="0"
      @click="showModal"
    >
      Edit {{ itemLabel }}
    </BButton>
    <BPopover
      :target="`editable-string-${_uid}`"
      triggers="hover"
      :delay="{ show: 250, hide: 0 }"
      placement="auto"
    >
      <div v-for="(t, l) in popoverContent">
        <strong>{{ l }}:</strong> {{ t }}
      </div>
    </BPopover>

    <BModal id="editText" ref="modal" lazy ok-title="Save" :title="`Edit ${itemLabel}`" @ok="close">
      <div v-if="!loading" class="form-inline">
        <EditableStringInputs
          ref="inputs"
          :string-id="stringId"
          :item-label="itemLabel"
          @ready="loading = false"
        />
      </div>
      <div v-if="!loading" class="row m-3">
        <BButton v-if="enableDelete" size="sm" variant="danger" @click="doDelete">
          <FaIcon icon="trash" />
          Delete
        </BButton>
      </div>
      <Loading v-else />
    </BModal>
  </span>
</template>

<script>
import EditableStringInputs from './EditableStringInputs';
import Loading from '../Loading';
import { LoadTranslations, MergeTranslation } from '../../i18n';
import { BPopover } from 'bootstrap-vue';
import Languages from '../../mixins/Languages';

export default {
  components: { Loading, EditableStringInputs, BPopover },
  props: {
    stringId: String,
    itemLabel: String,
    visible: {
      type: Boolean,
      default: true,
    },
    variant: {
      type: String,
      default: 'link',
    },
    size: {
      type: String,
      default: 'sm',
    },
    enableDelete: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    popoverContent() {
      if (!this.langData) {
        return {};
      }
      const data = {};
      for (const locale of this.langData) {
        if (this.$te(this.stringId, locale)) {
          data[this.$t(`_language_${locale}`)] = this.$t(this.stringId, locale);
        }
      }
      return data;
    },
    langData() {
      return this.$store.state.data.languages;
    },
  },
  methods: {
    async getPopoverTarget() {
      await this.$nextTick();

      return this.$refs.button;
    },
    showModal() {
      this.$refs.modal.show();
    },
    async close(e) {
      e.preventDefault();

      this.loading = true;

      await this.$refs.inputs.save();
      if (this.$refs.modal) {
        this.$refs.modal.hide();
      }
      this.loading = false;
    },
    async doDelete() {
      if (!confirm(`Are you sure you want to delete this ${this.itemLabel.toLowerCase()}?`)) {
        return;
      }
      this.loading = true;

      await this.axios.delete(`translation/string/${this.stringId}`);

      // Delete the translations from the local store.
      for (const locale of this.langData) {
        MergeTranslation(locale, { [this.stringId]: undefined });
      }

      if (this.$refs.modal) {
        this.$refs.modal.hide();
      }
      this.loading = false;
    },
  },
};
</script>
