<template>
  <BPopover
    placement="top"
    :triggers="triggers"
    :target="target"
    :delay="{ show: 0, hide: 0 }"
    :title="image.caption"
  >
    <ImageDisplay :content="{ display: image }" video-controls video-icon :width="200" />
    <BButton v-if="!hasUsage" size="sm" @click="showUsage">
      Show Usage
    </BButton>
    <Loading v-model="loading" />
    <div v-if="hasUsage && where.length === 0">
      Asset isn't used anywhere
    </div>
    <ul v-else>
      <li v-for="(w, k) in where" :key="k">
        {{ $t('_lesson_' + w.lesson_id) }}/{{ $t('_activity_' + w.activity_id) }}
      </li>
    </ul>
  </BPopover>
</template>

<script>
import { BPopover } from 'bootstrap-vue';
import ImageDisplay from 'components/ImageDisplay';
import Loading from 'components/Loading';

export default {
  components: { BPopover, ImageDisplay, Loading },
  props: {
    target: {
      type: String,
      required: true,
    },
    image: {
      type: Object,
      required: true,
    },
    triggers: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      where: [],
      hasUsage: false,
      loading: false,
    };
  },
  methods: {
    showUsage() {
      this.loading = true;
      this.axios
        .get(`asset/${this.image.id}`)
        .then((res) => {
          if (res.data !== null) {
            this.where = res.data.usage;
          }
          this.loading = false;
          this.hasUsage = true;
        })
        .catch((err) => alert(err));
    },
  },
};
</script>

<style scoped lang="scss">
.popover {
  img {
    max-width: 100%;
  }
  ul {
    margin-bottom: 0;
  }
}
</style>
