<template>
  <div v-if="lesson" class="container-fluid no-gutters">
    <div class="row no-gutters pb-2">
      <div class="form-group form-inline">
        <label for="section-select">Activity</label>
        <select
          id="section-select"
          v-model="activityId"
          :disabled="dataChanged"
          class="form-control mr-2"
        >
          <option v-for="s in activities" :key="s.id" :value="s.id">
            {{ $t('_activity_' + s.id) }}
          </option>
        </select>
        <EditableString
          v-if="activityId"
          :string-id="'_activity_' + activityId"
          item-label="Activity Title"
          :visible="false"
          variant="secondary"
          class="mr-2"
        />
        <OrderItems
          v-model="activities"
          translation-prefix="_activity_"
          label="Order Activities"
          class="mr-2"
        />
        <NewActivity
          :disabled="dataChanged"
          :lesson-id="lessonId"
          class="mr-2"
          @saved="activitySaved"
        />
        <CopyActivity :disabled="dataChanged" class="mr-2" @saved="activitySaved" />
        <BButton
          :disabled="!dataChanged || !activityId"
          :variant="dataChanged ? 'primary' : 'secondary'"
          size="sm"
          class="mr-2"
          @click="save"
        >
          Save
        </BButton>
        <BButton
          v-if="activityId !== null"
          size="sm"
          class="mr-2"
          variant="danger"
          @click="doDelete"
        >
          <FaIcon icon="trash" />
          Delete Activity
        </BButton>
      </div>
    </div>
    <div class="row border-top">
      <ActivityConfig
        v-if="data.id"
        v-model="data"
        class="col-12 pt-2 pl-0"
        @input="dataChanged = true"
      />
    </div>
  </div>
</template>

<script>
import Lessons from 'mixins/Lessons';

import OrderItems from './OrderItems';
import NewActivity from './NewActivity';
import ActivityConfig from './ActivityConfig';
import CopyActivity from './CopyActivity';
import EditableString from './EditableString';

import find from 'lodash/find';
import _clone from 'lodash/cloneDeep';

import { LESSON, ACTIVITIES } from '../../store/mutationTypes';

export default {
  components: {
    OrderItems,
    ActivityConfig,
    NewActivity,
    CopyActivity,
    EditableString,
  },
  mixins: [Lessons],
  props: {
    // lesson id
    lessonId: {
      type: Number,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      data: {},
      dataChanged: false,
      activityId: null,
    };
  },
  computed: {
    lesson() {
      return find(this.lessonData, (l) => l.id === this.lessonId);
    },
    activityLoading() {
      return this.$store.getters.activityLoading(this.activityId);
    },
    activityData() {
      return this.$store.getters.activity(this.activityId);
    },
    activities: {
      get() {
        if (this.lesson) {
          return this.lesson.activities;
        }
        return [];
      },
      set(value) {
        this.axios.post('activity/order', value).catch((err) => alert(err));

        this.$store.commit(LESSON, {
          id: this.lessonId,
          activities: value,
        });
      },
    },
  },
  watch: {
    lessonId() {
      if (this.activities.length > 0) {
        // default to the first activity.
        this.activityId = this.activities[0].id;
      } else {
        this.activityId = null;
      }
    },
    activityData(newVal) {
      if (newVal === undefined) {
        this.data = {};
      } else {
        // We need a local copy of the activity to avoid altering the data in the store.
        this.data = _clone(newVal);
      }
    },
    dataChanged(newVal) {
      this.$emit('changed', newVal);
    },
    activityId: {
      handler: function (val) {
        if (val > 0) {
          this.loadActivity(val, true);
        }
      },
      // so that it is called with the initial value.
      immediate: true,
    },
  },
  methods: {
    activitySaved(activity) {
      this.activityId = activity.id;
    },
    loadActivity(activityId, force) {
      this.$store.dispatch('loadActivity', { id: activityId, force }).then(() => {
        this.$emit('activityLoaded');
      });
    },
    save() {
      this.axios
        .post('activity/' + this.activityId, _clone(this.data))
        .then((res) => {
          this.$store.commit(ACTIVITIES, res.data);
          this.dataChanged = false;
        })
        .catch((err) => alert(err));
    },
    doDelete() {
      if (confirm('Are you sure you want to delete this activity?')) {
        this.axios
          .delete('activity/' + this.activityId)
          .then(() => {
            this.loadLessons(true).then(() => {
              if (this.activities.length > 0) {
                this.activityId = this.activities[0].id;
              } else {
                this.activityId = null;
              }
            });
            this.dataChanged = false;
          })
          .catch((err) => alert(err));
      }
    },
  },
};
</script>
