<template>
  <span>
    <BButton :disabled="disabled" size="sm" @click="showModal">
      New Activity
    </BButton>

    <BModal
      ref="modal"
      lazy
      title-ok="Save"
      title="New Activity"
      :ok-disabled="saving"
      :cancel-disabled="saving"
      @ok="save"
    >
      <EditableStringInputs ref="titles" :string-id="''" item-label="Activity Title" />
    </BModal>
  </span>
</template>

<script>
import Lesson from 'mixins/Lessons';

import EditableStringInputs from './EditableStringInputs';

export default {
  components: { EditableStringInputs },
  mixins: [Lesson],
  props: {
    lessonId: Number,
    disabled: Boolean,
  },
  data() {
    return {
      saving: false,
    };
  },
  methods: {
    save(e) {
      e.preventDefault();
      this.saving = true;

      this.axios
        .post('activity', { lesson_id: this.lessonId })
        .then((res) => {
          const activity = res.data;

          this.$refs.titles
            .save('_activity_' + activity.id)
            .then(() => {
              this.loadLessons(true).then(() => {
                this.saving = false;
                this.$refs.modal.hide();
                this.$emit('saved', { id: activity.id });
              });
            })
            .catch((err) => alert(err));
        })
        .catch((err) => alert(err));
    },
    showModal() {
      this.$refs.modal.show();
    },
  },
};
</script>

<style scoped></style>
