<template>
  <span>
    <BButton :disabled="disabled" size="sm" @click="show"> New {{ label }} </BButton>

    <BModal
      id="newLesson"
      ref="modal"
      lazy
      title-ok="Save"
      :title="label"
      :cancel-disabled="saving"
      :ok-disabled="saving"
      @ok="save"
    >
      <div v-if="enableIdField" class="form-inline mb-2 form-row">
        <label for="id-val">{{ label }} ID</label>
        <input id="id-val" v-model="idVal" type="text" class="form-control" />
      </div>
      <div class="form-inline">
        <div v-for="v in langData" :key="v" class="form-row mb-2">
          <label :for="v">{{ $t('_language_' + v) }} {{ label }} Title</label>
          <input :id="v" v-model="titles[v]" class="form-control" />
        </div>
      </div>
    </BModal>
  </span>
</template>

<script>
import Languages from 'mixins/Languages';
import Lessons from 'mixins/Lessons';

import { LoadTranslations } from 'i18n';

export default {
  mixins: [Languages, Lessons],
  props: {
    disabled: {
      type: Boolean,
      default: false,
      required: false,
    },
    translationPrefix: {
      type: String,
      required: true,
    },
    savePath: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
      default: 'New Item',
    },
    enableIdField: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      saving: false,
      idVal: '',
      titles: {},
    };
  },
  methods: {
    show() {
      this.$refs.modal.show();
    },
    save(e) {
      e.preventDefault();

      if (this.enableIdField !== false && this.idVal.length === 0) {
        alert(`Please enter an ID value`);
        return;
      }

      let isBlank = true;
      for (let i = 0; i < this.langData.length; i++) {
        const lang = this.langData[i];
        if (this.titles[lang] !== undefined && this.titles[lang].length > 0) {
          isBlank = false;
        }
      }

      if (isBlank) {
        alert(`Please enter a ${this.label} title!`);
        return;
      }

      let savePath = this.savePath;

      if (this.enableIdField !== false) {
        const idVal = this.idVal
          // Replace non-alphanumeric characters with underscore.
          .replace(/[^a-z0-9]/gi, '_')
          // Replace duplicate underscores.
          .replace(/(_)(?=\1)/gi, '')
          // Trim off trailing underscores.
          .replace(/(_$)/gi, '')
          .toLowerCase();
        savePath += '/' + idVal;
        this.idVal = idVal;
      }

      this.saving = true;

      this.axios
        .post(savePath)
        .then((res) => {
          const id = res.data;

          this.axios
            .post(`translation/string/${this.translationPrefix}${id}`, this.titles)
            .then(() => {
              this.titles = [];
              this.$refs.modal.hide();
              this.saving = false;
              LoadTranslations(this.$store.state.locale)
                .then(() => {
                  this.$emit('saved', { id: id });
                })
                .catch((err) => alert(err));
            })
            .catch((err) => alert(err));
        })
        .catch((error) => {
          this.saving = false;
          if (this.enableIdField !== false && error.response.data === false) {
            alert(`Unable to save! Does the ID "${this.idVal}" already exist?`);
            return;
          }
          alert(error);
        });
    },
  },
};
</script>
