<template>
  <span class="order-items">
    <BButton v-b-modal="'reorder' + _uid" size="sm" :disabled="disabled">{{ label }}</BButton>

    <BModal
      :id="'reorder' + _uid"
      scrollable
      ok-only
      hide-header-close
      no-close-on-esc
      no-close-on-backdrop
      :title="label"
    >
      <Draggable v-model="items" class="border rounded sortable">
        <div v-for="{ id } in value" :key="id" class="border" :class="$style.item">
          <span>{{ $t(translationPrefix + id) }}</span>
        </div>
      </Draggable>
    </BModal>
  </span>
</template>

<script>
import Draggable from 'vuedraggable';

export default {
  components: { Draggable },
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    translationPrefix: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    items: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>

<style module>
.item {
  padding: 0.5rem 1rem;
  cursor: move;
}
</style>
