<template>
  <div class="page-config">
    <div v-for="(c, k) in config.options" :key="k" class="float-left border rounded p-1 m-1">
      <span v-if="k === 'content'">
        <div class="float-left mr-2">Content</div>
        <ContentDisplay class="float-left mr-2" :content="value.content" />

        <BButton size="sm" tabindex="-1" @click="$refs.pageContent[0].show()"
          ><FaIcon icon="pencil-alt"></FaIcon
        ></BButton>

        <ContentSelector ref="pageContent" v-model="value.content" @input="changed" />
      </span>
      <span v-else-if="k === 'audio'">
        Audio
        <span v-for="(asset, assetKey) in pageAudioAssets" :key="assetKey">
          <PlayIcon v-b-tooltip="asset.caption" :audio="asset" :show-error="true" />
          <span>{{ asset.caption }}</span>
        </span>
        <BButton size="sm" @click="$refs.pageAudioSelect[0].show(value.assets)"
          ><FaIcon icon="pencil-alt"></FaIcon
        ></BButton>

        <AssetSelector
          ref="pageAudioSelect"
          type="a"
          :max="c.audio"
          @input="value.assets = $event"
        />
      </span>
      <span v-else class="form-inline float-left">
        <label class="pl-2" :for="'page-option-' + k + '-' + _uid">{{ c.label }}</label>
        <input
          :id="'page-option-' + k + '-' + _uid"
          v-model="value.config[k]"
          v-b-tooltip.focus="c.description"
          class="form-control"
          :type="c.type"
          :style="c.inputStyle"
          @change="changed"
        />
      </span>
    </div>
    <AssetSelector ref="imageSelector" type="d" :max="config.image" @input="assetChange" />
    <AssetSelector ref="audioSelector" type="a" :max="config.audio" @input="assetChange" />
    <ContentSelector ref="contentSelector" v-model="selectedItemContent" @input="changed" />

    <table class="border table table-sm table-striped mb-1">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th v-if="config.image">Image(s)</th>
          <th v-if="config.audio">Audio</th>
          <th
            v-if="config.timing"
            v-b-tooltip
            title="The absolute timing position in the audio file where this image should be shown."
          >
            Show at Seconds
          </th>
          <th v-if="config.content">Text</th>
          <th v-if="config.html">Formatted Text</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <Draggable
        v-model="value.items"
        tag="tbody"
        group="page-config"
        handle=".content-sort-handle"
        @input="changed"
        @add="added"
      >
        <tr v-for="(item, key) in value.items" :key="item.id" class="sort-item">
          <td class="content-sort-handle">
            <FaIcon icon="arrows-alt-v" />
          </td>
          <td>{{ key + 1 }}</td>
          <td v-if="config.image">
            <span v-for="(asset, k) in displayAssets[item.id]" :key="asset.id">
              <ImageDisplay
                :id="_uid + 'img-' + key + '-' + k"
                :content="{ display: asset }"
                no-video
                video-icon
                display-only
                class="mr-1"
                always-selectable
                :autosize="35"
              />
              <ImagePopover :image="asset" :target="_uid + 'img-' + key + '-' + k" />
            </span>
            <BButton size="sm" tabindex="-1" @click="showModal('imageSelector', key)"
              ><FaIcon icon="pencil-alt"
            /></BButton>
          </td>
          <td v-if="config.audio">
            <span v-for="(asset, assetKey) in audioAssets[item.id]" :key="assetKey">
              <PlayIcon v-b-tooltip="asset.caption" :audio="asset" :show-error="true" />
              <span>{{ asset.caption }}</span>
            </span>
            <BButton size="sm" tabindex="-1" @click="showModal('audioSelector', key)">
              <FaIcon icon="pencil-alt" />
            </BButton>
          </td>
          <td v-if="config.timing">
            <input
              v-model="item.config.timing"
              type="number"
              step="0.01"
              class="form-control rounded"
              @input="changed"
            />
          </td>
          <td v-if="config.content">
            <div style="display: table; width: 100%;">
              <div
                style="display: table-cell;"
                :style="{ 'text-align': isRtl ? 'right' : '' }"
                class="pr-2"
              >
                <ContentDisplay :content="item.content" />
              </div>
              <div style="display: table-cell; width: 50px;" class="align-top">
                <BButton size="sm" tabindex="-1" @click="showContentModal(key)"
                  ><FaIcon icon="pencil-alt"></FaIcon
                ></BButton>
              </div>
            </div>
          </td>
          <td v-if="config.html">
            <VueEditor
              v-model="item.config.html"
              :editor-options="editorOptions"
              style="background-color: white;"
              @input="changed"
            />
          </td>
          <td>
            <BButton
              v-b-tooltip.hover
              :data-key="key"
              size="sm"
              variant="danger"
              title="Delete Row"
              tabindex="-1"
              @click="removeRow(key)"
            >
              <FaIcon icon="trash"></FaIcon>
            </BButton>
          </td>
        </tr>
      </Draggable>
      <tfoot>
        <tr>
          <td colspan="4">
            <BButton variant="link" size="sm" @click="addContent">Add Content</BButton>
            <BButton variant="link" size="sm" @click="add10Content">Add 10 Content</BButton>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="input-group description">
      <slot name="sort-handle"></slot>
      <input
        v-model="value.note"
        v-b-tooltip.focus
        placeholder="Note"
        type="text"
        class="form-control rounded mr-2 form-control-sm"
        title="Notes about the purpose of the page, not exposed to student."
        @keyup="changed"
      />
      <BButton
        v-b-tooltip.hover
        variant="primary"
        size="sm"
        title="Insert new page after"
        class="mr-2"
        @click="$emit('insert-page')"
      >
        <FaIcon icon="plus" />
        Insert Page
      </BButton>
      <BButton
        v-b-tooltip.hover
        variant="danger"
        size="sm"
        title="Delete Page"
        tabindex="-1"
        @click="$emit('delete-page')"
      >
        <FaIcon icon="trash" />
      </BButton>
    </div>
  </div>
</template>

<script>
import IsRtl from '../../mixins/IsRtl';

import Draggable from 'vuedraggable';
import PlayIcon from '../PlayIcon';
import ContentDisplay from 'components/ContentDisplay';
import ContentSelector from './content/ContentSelector';
import AssetSelector from './content/AssetSelector';
import ImageDisplay from 'components/ImageDisplay';
import ImagePopover from './ImagePopover';
import { VueEditor } from 'vue2-editor';

import { assetPath } from '../../helpers/Media';

export default {
  components: {
    Draggable,
    PlayIcon,
    ContentDisplay,
    ContentSelector,
    AssetSelector,
    VueEditor,
    ImageDisplay,
    ImagePopover,
  },
  mixins: [IsRtl],
  props: {
    value: {
      type: Object,
    },
    config: Object,
  },
  data() {
    return {
      selectedItem: 0,
      editorOptions: {
        modules: {
          toolbar: {
            container: [
              { header: [] },
              'bold',
              'italic',
              'underline',
              'strike',
              { list: 'ordered' },
              { list: 'bullet' },
              'blockquote',
              { color: [] },
              { background: [] },
              { font: [] },
              { size: [] },
              { direction: 'rtl' },
              { align: [] },
              { indent: '+1' },
              { indent: '-1' },
              /*'image',*/ 'clean',
            ],
            handlers: {
              image(value) {
                if (value) {
                  let imageName = prompt('Enter the image name. (example: man_1)');
                  if (imageName === null) {
                    return;
                  }
                  this.quill.format('image', assetPath({ image: imageName }));
                } else {
                  this.quill.format('image', false);
                }
              },
            },
          },
        },
      },
    };
  },
  computed: {
    selectedItemContent: {
      get() {
        return this.value.items[this.selectedItem].content;
      },
      set(value) {
        this.value.items[this.selectedItem].content = value;
        this.$log.debug(value);
      },
    },
    pageAudioAssets() {
      return this.value.assets.filter((a) => a.type === 'a');
    },
    displayAssets() {
      const data = {};
      for (const item of this.value.items) {
        data[item.id] = item.assets.filter((a) => a.type === 'd');
      }
      return data;
    },
    audioAssets() {
      const data = {};
      for (const item of this.value.items) {
        data[item.id] = item.assets.filter((a) => a.type === 'a');
      }
      return data;
    },
  },
  methods: {
    assetPath,
    showModal(id, key) {
      this.selectedItem = key;
      this.$refs[id].show(this.value.items[key].assets);
    },
    showContentModal(key) {
      this.selectedItem = key;
      this.$refs.contentSelector.show();
    },
    assetChange(value) {
      this.value.items[this.selectedItem].assets = value;
      this.changed();
    },
    addContent() {
      this.value.items.push({
        assets: [],
        config: {},
        content: {
          id: null,
        },
      });
      this.changed();
    },
    add10Content() {
      for (let i = 0; i < 10; i++) {
        this.addContent();
      }
    },
    removeRow(key) {
      this.value.items.splice(key, 1);
      this.changed();
    },
    changed() {
      this.$emit('input', this.value);
    },
    added(e) {
      // An item was moved from one page to another.
      // We need to set the id to null so that it is inserted instead of updated in the db.
      // This is neccissary because it will be deleted from the page that it is removed from.
      this.value.items[e.newIndex].id = null;
    },
  },
};
</script>

<style scoped lang="scss">
.image-display {
  display: inline-block;
}
table input {
  max-width: 10rem;
}
table input.text {
  max-width: none;
}
.play-controls {
  font-size: 1.2rem;
}
.description {
  font-size: 0.8rem;
  input {
    font-size: 0.8rem;
    padding: 3px;
    line-height: 1;
  }
}
.content-sort-handle {
  cursor: move;
}
</style>
