<template>
  <ClientLayout :enable-menu="appInitialized" :auto-hide-on-load="false">
    <template v-if="appInitialized" #title>
      <h1>{{ $t('mobile.download_lessons') }}</h1>
    </template>

    <div v-if="!isOnline">
      {{ $t('mobile.app_offline') }}
    </div>

    <div v-else-if="!appInitialized" class="text-center">
      <Loading size="lg" />
    </div>

    <div v-else class="row">
      <div class="col-12">
        <BModal
          :visible="downloading"
          centered
          hide-footer
          hide-header
          no-close-on-backdrop
          no-close-on-esc
          :title="$t('download_lessons')"
        >
          <div v-if="$store.state.locale === 'en'">
            {{ downloadStatus }}
          </div>
          <div class="progress">
            <div class="progress-bar" :style="{ width: downloadProgress + '%' }" />
          </div>
        </BModal>
        <BButton :disabled="lessonsLoading" @click="reload">
          <FaIcon icon="sync-alt" :spin="lessonsLoading" />
          {{ $t('mobile.refresh_lessons') }}
        </BButton>
        <BButton variant="primary" class="float-right" :disabled="downloading" @click="download">
          <FaIcon :icon="downloading ? 'spinner' : 'download'" :spin="downloading" />
          {{ $t('mobile.save_lessons') }}
        </BButton>
      </div>
      <div class="col-12 mt-2">
        <div class="accordion">
          <div v-for="(c, k) in categories" :key="k" class="card">
            <div
              class="card-header p-0"
              @click="
                visibleCategory === c.id ? (visibleCategory = null) : (visibleCategory = c.id)
              "
            >
              <ImageDisplay
                v-if="c.asset.id"
                class="border-0 p-0 rounded-0 flex-shrink-0 float-left"
                :content="{ display: c.asset }"
                :autosize="50"
                no-video
                display-only
                no-border
              />
              <div class="float-left mt-2 pl-2">
                {{ $t('_lesson_category_' + c.id) }}
              </div>
            </div>
            <BCollapse :id="'category-' + c.id" :visible="c.id === visibleCategory">
              <div class="card-body p-0">
                <ul class="list-group">
                  <li v-for="l in c.lessons" :key="l.id" class="list-group-item border-0">
                    {{ $t('_lesson_' + l.id) }}
                    {{ $t('mobile.qty_activities', [l.activities.length, offlineLessons[l.id]]) }}
                    <span class="float-right">
                      <ToggleButton v-model="selectedLessons[l.id]" sync />
                    </span>
                  </li>
                </ul>
              </div>
            </BCollapse>
          </div>
        </div>
      </div>
    </div>
  </ClientLayout>
</template>

<script>
import ClientLayout from 'ClientLayout';
import Loading from 'components/Loading';
import { BCollapse, BModal } from 'bootstrap-vue';
import ImageDisplay from 'components/ImageDisplay';
import { ToggleButton } from 'vue-js-toggle-button';

import { init } from 'config/main';
import Lessons from 'mixins/Lessons';

import _groupBy from 'lodash/groupBy';
import _keys from 'lodash/keys';
import _find from 'lodash/find';

import { downloadActivity } from '../../data/mobile/activity';
import { offlineSummary, removeLesson } from '../../data/mobile/lesson';
import { clearDatabase as clearAssetDb, deleteUnusedFiles } from '../../data/mobile/assets';

export default {
  components: {
    ImageDisplay,
    Loading,
    ClientLayout,
    BCollapse,
    BModal,
    ToggleButton,
  },
  mixins: [Lessons],
  data() {
    return {
      visibleCategory: null,
      selectedLessons: {},
      downloading: false,
      downloadProgress: 0,
      downloadStatus: '',
      offlineStats: {},
    };
  },
  computed: {
    appInitialized() {
      return this.$store.state.mobile.appInitialized;
    },
    isOnline() {
      return this.$store.state.mobile.online;
    },
    categories() {
      const allCats = this.$store.state.data.lessonCategories,
        categories = [],
        lessons = _groupBy(this.lessonData, (l) => l.category_id);
      for (let i = 0; i < allCats.length; i++) {
        let cat = allCats[i];
        if (undefined !== lessons[cat.id]) {
          // This category has lessons, add them to the category.
          cat.lessons = lessons[cat.id];
          categories.push(cat);
        }
      }

      return categories;
    },
    offlineLessons() {
      let all = {};

      for (let i = 0; i < this.lessonData.length; i++) {
        const id = this.lessonData[i].id;

        if (this.offlineStats[id] !== undefined) {
          all[id] = this.offlineStats[id];
        } else {
          all[id] = 0;
        }
      }

      return all;
    },
  },
  async mounted() {
    await this.refresh();

    if (this.categories !== undefined) {
      // Open up the first category.
      this.visibleCategory = this.categories[0].id;
    }
  },
  methods: {
    reload() {
      init(true);
    },
    async download() {
      this.downloading = true;
      this.downloadProgress = 0;

      const selected = _keys(this.selectedLessons);

      this.downloadStatus = 'Initializing';
      await clearAssetDb();
      this.downloadStatus = 'Downloading Lessons';
      // Mostly so that the category images are downloaded.
      await init(true);

      this.downloadStatus = 'Downloading Activities';

      let activityPromises = [];

      for (let i = 0; i < selected.length; i++) {
        const lessonId = parseFloat(selected[i]),
          enabled = this.selectedLessons[lessonId];
        if (enabled) {
          const lesson = _find(this.lessonData, (l) => l.id === lessonId);
          for (let aKey = 0; aKey < lesson.activities.length; aKey++) {
            const aId = lesson.activities[aKey].id;

            activityPromises.push(downloadActivity(aId));
          }
        } else {
          activityPromises.push(removeLesson(lessonId));
        }
      }

      let done = 0;
      const qtySteps = activityPromises.length + 1;
      activityPromises.forEach((p) => {
        p.then(() => {
          done++;

          this.downloadProgress = Math.round((done / qtySteps) * 100);
        });
      });

      await Promise.all(activityPromises);

      await this.refresh();

      this.downloadStatus = 'Cleaning Up';
      await deleteUnusedFiles();

      this.downloading = false;
      this.downloadProgress = 100;
      this.downloadStatus = 'Done';
    },
    async refresh() {
      const data = await offlineSummary();

      const keys = _keys(data);

      for (let i = 0; i < keys.length; i++) {
        const k = parseFloat(keys[i]);
        this.$set(this.selectedLessons, k, true);
      }

      this.offlineStats = data;
      return data;
    },
  },
};
</script>

<style scoped>
.card-header {
  padding: 0.15rem 0.25rem;
}
.list-group-item {
  padding-left: 2rem;
}
</style>
