<template>
  <ClientLayout :fluid="false">
    <div class="container-fluid">
      <div v-if="!loading && page" class="row">
        <div class="col" v-html="page.text" />
      </div>
      <div class="row justify-content-center">
        <div v-if="!loading" class="col-sm-12 col-md-12 col-lg-8 align-self-center">
          <div v-if="success" class="alert alert-light" v-text="success" />
          <form v-if="!success" @submit="submit">
            <div v-if="error" class="form-row alert-danger alert">
              <div class="col" v-text="error" />
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="contact-email">{{ $t('contact.email') }}</label>
                <input
                  id="contact-email"
                  v-model="contact.email"
                  type="email"
                  :placeholder="$t('contact.email')"
                  class="form-control"
                  required
                  :disabled="submitting"
                />
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="contact-name">{{ $t('contact.name') }}</label>
                <input
                  id="contact-name"
                  v-model="contact.name"
                  type="text"
                  :placeholder="$t('contact.name')"
                  class="form-control"
                  autocomplete="off"
                  required
                  :disabled="submitting"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="contact-subject">{{ $t('contact.subject') }}</label>
                <input
                  id="contact-subject"
                  v-model="contact.subject"
                  type="text"
                  :placeholder="$t('contact.subject')"
                  class="form-control"
                  autocomplete="off"
                  required
                  :disabled="submitting"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="contact-reason">{{ $t('contact.reason') }}</label>
                <select
                  id="contact-reason"
                  v-model="contact.reason"
                  :placeholder="$t('contact.reason')"
                  class="form-control"
                  required
                  :disabled="submitting"
                >
                  <option :value="null" disabled>
                    {{ $t('contact.please_select') }}
                  </option>
                  <option v-for="(r, k) in config.recipients" :key="k" :value="r.id">
                    {{ $t('_contact_title_' + r.id) }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="contact-message">{{ $t('contact.message') }}</label>
                <textarea
                  id="contact-message"
                  v-model="contact.message"
                  type="text"
                  :placeholder="$t('contact.message')"
                  class="form-control"
                  required
                  :disabled="submitting"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <span id="form-captcha">
                  <object type="image/svg+xml" :data="captchaUrl" class="border rounded bg-white"
                    >Captcha</object
                  >
                </span>
                <BButton
                  size="sm"
                  variant="transparent"
                  class="align-top d-inline"
                  :disabled="submitting"
                  @click="captchaRefresh++"
                >
                  <FaIcon icon="sync-alt" />
                </BButton>
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label for="contact-captch">{{ $t('contact.captcha') }}</label>
                <input
                  id="contact-captch"
                  ref="captch-input"
                  v-model="contact.captcha"
                  type="text"
                  :placeholder="$t(contact.captcha)"
                  autocomplete="off"
                  class="form-control"
                  required
                  :disabled="submitting"
                />
              </div>
              <div class="form-group col-sm-12 col-md-3 text-right mt-md-4">
                <BButton type="submit" variant="primary" :disabled="submitting">
                  <Loading v-if="submitting" class="float-left" size="xs" inline />
                  <span v-else>{{ $t('submit') }}</span>
                </BButton>
              </div>
            </div>
          </form>
        </div>
        <Loading v-if="loading" size="lg" />
      </div>
    </div>
  </ClientLayout>
</template>

<script>
import ClientLayout from '../ClientLayout';

import { load as LoadContact } from 'data/Contact';
import { load as LoadPage } from 'data/ContentPage';
import Loading from '../components/Loading';

import { BaseUrl } from 'helpers/Api';
import { submit as Submit } from 'data/Contact';

export default {
  components: { Loading, ClientLayout },
  data() {
    return {
      loading: true,
      page: null,
      submitting: false,
      config: {},
      contact: {
        email: null,
        name: null,
        subject: null,
        reason: null,
        message: null,
        captcha: null,
      },
      error: '',
      success: '',
      captchaRefresh: 0,
    };
  },
  computed: {
    captchaUrl() {
      return `${BaseUrl}/contact/captcha.svg?${this.captchaRefresh}`;
    },
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loading = true;
      LoadContact({ force: false })
        .then((data) => {
          if (data === false) {
            // redirect to main menu
            return;
          }

          this.config = data;

          if (data.content_page_id) {
            LoadPage(data.content_page_id, this.$store.state.locale).then((page) => {
              this.page = page;
              this.loading = false;
            });
          } else {
            this.loading = false;
          }
        })
        .catch(() => {
          this.loading = false;
        });
    },
    async submit(e) {
      e.preventDefault();
      this.submitting = true;
      this.error = '';

      const res = await Submit(this.contact);

      this.submitting = false;
      this.captchaRefresh++;
      this.contact.captcha = '';

      if (res === true) {
        this.success = this.$t('contact.success');
        return;
      }

      if (res && res.captcha === false) {
        this.error = this.$t('contact.invalid_captcha');
        this.$nextTick(() => {
          this.$refs['captcha-input'].focus();
        });
      }
    },
  },
};
</script>

<style scoped lang="scss">
#form-captcha {
  height: 70px;
  width: 210px;
  display: inline-block;

  object {
    width: 100%;
    height: 100%;
  }
}
</style>
