<template>
  <ClientLayout :fluid="false">
    <div class="container-fluid">
      <div class="row">
        <div v-if="!loading" class="col" v-html="content" />
        <Loading v-else size="lg" />
      </div>
    </div>
  </ClientLayout>
</template>

<script>
import ClientLayout from '../ClientLayout';

import { load } from 'data/ContentPage';
import Loading from '../components/Loading';

export default {
  components: { Loading, ClientLayout },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      content: '',
      loading: true,
    };
  },
  mounted() {
    this.loadPage();
  },
  methods: {
    async loadPage() {
      this.loading = true;
      try {
        const page = await load(this.id, this.$store.state.locale);
        this.content = page.text;
        this.loading = false;
      } catch (e) {
        this.$log.critical(e);
      }
    },
  },
};
</script>
