<template>
  <Layout>
    <h1>{{ $t('photo_credits') }}</h1>
    <div v-if="!loading" class="row">
      <div
        v-for="d in pagedImages"
        :key="d.id"
        class="card flex-row col-12 col-md-6 col-lg-4 col-xl-3"
      >
        <ImageDisplay
          class="border-0 p-0 rounded-0 flex-shrink-0"
          :content="{ display: d }"
          :width="displayWidth(d)"
          display-only
          video-icon
          no-video
          :style="imageStyle(d)"
        />
        <div class="card-body">
          <span v-if="d.credits_person">{{ $t('asset_by', [d.credits_person]) }}</span>
          <span v-if="d.credits_source">{{ $t('asset_from', [d.credits_source]) }}</span>
          <span v-if="d.license" class="license">{{
            $t('asset_used_under', [licenseName(d.license)])
          }}</span>
        </div>
      </div>
    </div>
    <BPagination
      v-if="!loading && images.length > qtyPerPage"
      v-model="page"
      :total-rows="images.length"
      :per-page="qtyPerPage"
      class="mt-2"
    />
    <Loading v-if="loading" size="lg" center />
  </Layout>
</template>

<script>
import Layout from '../ClientLayout';
import ImageDisplay from 'components/ImageDisplay';
import Loading from '../components/Loading';
import { BPagination } from 'bootstrap-vue';

import { assetPath } from '../helpers/Media';
import _find from 'lodash/find';

export default {
  components: { Loading, Layout, ImageDisplay, BPagination },
  data() {
    return {
      page: 1,
      qtyPerPage: 24,
    };
  },
  computed: {
    pagedImages() {
      if (!this.images || this.images.length === 0) {
        return [];
      }

      const start = (this.page - 1) * this.qtyPerPage,
        end = start + this.qtyPerPage;
      return this.images.slice(start, end);
    },
    images() {
      if (!this.$store.state.data.images) {
        return [];
      }
      return this.$store.state.data.images;
    },
    loading() {
      return this.$store.state.data.imagesLoading;
    },
  },
  mounted() {
    this.$store.dispatch('loadAssets');
  },
  methods: {
    assetPath,
    licenseName(id) {
      const lic = _find(this.$store.getters.setting('licenses'), (l) => l.id === id);
      if (!lic) {
        return null;
      }
      return lic.name;
    },
    displayWidth(image) {
      return Math.round(100 * image.metadata.ratio);
    },
    imageStyle(image) {
      return {
        height: '100px',
        width: this.displayWidth(image) + 'px',
      };
    },
  },
};
</script>

<style scoped>
.card {
  padding-left: 0;
}
.card-body {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}
</style>
