<template>
  <ClientLayout>
    <template #title> {{ lessonTitle }}/{{ activityTitle }} </template>
    <template v-if="!activityLoading" #toolbar>
      <PageNavigation v-model="pageId" :qty-pages="qtyPages" />
    </template>
    <template v-if="!activityLoading">
      <div v-for="(i, k) in currentPage.items" :key="k" v-html="i.config.html" />
    </template>
    <Loading v-else size="lg" center />
  </ClientLayout>
</template>

<script>
import Lessons from 'mixins/Lessons';
import Activity from 'mixins/Activity';

import ClientLayout from '../ClientLayout';
import PageNavigation from '../components/PageNavigation';
import Loading from 'components/Loading';

export default {
  components: { ClientLayout, PageNavigation, Loading },
  mixins: [Lessons, Activity],
};
</script>
