<template>
  <ClientLayout :enable-menu="false" :auto-hide-on-load="autoHideOnLoad" :fluid="fluid">
    <template #toolbar>
      <div v-if="enableMenu" class="float-left">
        <RouterLink v-if="enableMenu" :to="{ name: 'index' }">
          <FaIcon icon="home" /> Main Menu
        </RouterLink>
      </div>
      <div class="float-right">{{ $store.state.username }} <logout /></div>
    </template>

    <slot />
  </ClientLayout>
</template>

<script>
import ClientLayout from 'ClientLayout';
import Logout from 'components/LogoutAdmin';

export default {
  components: { ClientLayout, Logout },
  props: {
    enableMenu: {
      type: Boolean,
      default: true,
      required: false,
    },
    fluid: {
      type: Boolean,
      default: false,
      required: false,
    },
    autoHideOnLoad: {
      type: Boolean,
      default: true,
      required: false,
    },
  },
};
</script>
