@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "styles/variables";
@import "styles/quill_styles";

//@mixin for-phone-only {
//    @media (max-width: 599px) { @content; }
//}
//@mixin for-tablet-portrait-up {
//    @media (min-width: 600px) { @content; }
//}
//@mixin for-tablet-landscape-up {
//    @media (min-width: 900px) { @content; }
//}
//@mixin for-desktop-up {
//    @media (min-width: 1200px) { @content; }
//}
//@mixin for-big-desktop-up {
//    @media (min-width: 1800px) { @content; }
//}

body {
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.direction-rtl .image-grid {
    direction: rtl;
}

select.custom-select {
    background: white;
}

.form-inline label {
    margin-right: 5px;
}
thead {
    td, th {
        text-align: center;
    }
}

.blockquote {
    margin-left: .25em;
    padding-left: .25em;
    border-left: 3px solid lightgray;
    font-size: 1rem;
}
table p {
    // So that Content Pages' cell content don't have unnecissary margin.
    margin-bottom: 0;
}

//.btn-group.rtl {
//    > .btn:not(:first-child) {
//        border-top-right-radius: 0;
//        border-bottom-right-radius: 0;
//    }
//    > .btn:not(:last-child) {
//        border-top-left-radius: 0;
//        border-bottom-left-radius: 0;
//    }
//
//    > .btn:first-child {
//        border-top-right-radius: .25rem;
//        border-bottom-right-radius: .25rem;
//    }
//    > .btn:last-child {
//        border-top-left-radius: .25rem;
//        border-bottom-left-radius: .25rem;
//    }
//}
