<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="http://localhost:8098"></script>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="cordova.js"></script>
</body>
</html>