<template>
  <AdminLayout :auto-hide-on-load="false" :fluid="mode === modes.MODE_EDIT">
    <div class="container-fluid no-gutters">
      <div v-if="mode === modes.MODE_LIST" class="row">
        <div class="col-12 form-inline mb-2">
          <NewItem
            translation-prefix="_content_page_title_"
            save-path="content_page/new"
            label="Page"
            enable-id-field
            class="mr-2"
            :disabled="loading"
            @saved="loadPages"
          />
          <OrderItems
            v-model="order"
            translation-prefix="_content_page_title_"
            label="Order Pages"
            class="mr-2"
            :disabled="loading || items.length <= 1"
          />
        </div>
        <div v-if="!loading">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>On Main Page</th>
                <th>Languages</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <tr v-for="(i, k) in items" :key="k">
                <td>{{ i.id }}</td>
                <td>
                  <EditableString :string-id="'_content_page_title_' + i.id" item-label="title" />
                </td>
                <td class="align-middle text-center">
                  <input v-model="i.public" type="checkbox" @change="updatePage(i)" />
                </td>
                <td>
                  <ul class="lang-list">
                    <li v-for="l in langData" :key="l">
                      <BButton size="sm" variant="link" @click="editLanguage(i, l)">
                        <template v-if="pageHasLang(i, l)">
                          Edit {{ $t('_language_' + l) }}
                          <em
                            ><small>({{ stateText(i, l) }})</small></em
                          >
                        </template>
                        <template v-else> Add {{ $t('_language_' + l) }} </template>
                      </BButton>
                    </li>
                  </ul>
                </td>
                <td>
                  <BButton variant="danger" size="sm" @click="deletePage(i.id)">
                    <FaIcon icon="trash" />
                  </BButton>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-if="mode === modes.MODE_EDIT" class="col-12">
        <EditPage
          :id="editPage.id"
          ref="editPage"
          :lang="editPage.lang"
          title
          allow-public
          @done="loadPages"
        />
      </div>
    </div>
  </AdminLayout>
</template>

<script>
import AdminLayout from '../../AdminLayout';
import OrderItems from '../../components/admin/OrderItems';
import EditableString from '../../components/admin/EditableString';
import NewItem from '../../components/admin/NewItem';
import EditPage from 'components/admin/content/ContentPageContent';
import Languages from '../../mixins/Languages';

import _find from 'lodash/find';
import _map from 'lodash/map';

const STATE_PUBLISHED = 1;
const MODE_LIST = 0;
const MODE_EDIT = 1;

export default {
  components: { NewItem, EditableString, OrderItems, AdminLayout, EditPage },
  mixins: [Languages],
  data() {
    return {
      loading: true,
      items: [],
      editPage: {
        id: null,
        lang: null,
      },
      mode: MODE_LIST,
      modes: {
        MODE_EDIT,
        MODE_LIST,
      },
    };
  },
  computed: {
    order: {
      get() {
        return this.items;
      },
      set(value) {
        this.loading = true;

        this.axios
          .post(
            'content_page/order/save',
            _map(value, (v) => v.id)
          )
          .then(() => {
            this.loadPages();
          })
          .catch((err) => alert(err));
      },
    },
  },
  mounted() {
    this.loadPages();
  },
  methods: {
    editLanguage(page, lang) {
      this.mode = MODE_EDIT;
      this.$nextTick(() => {
        this.$refs.editPage.show(page, lang);
      });
    },
    deletePage(id) {
      if (!confirm(`Are you sure you want to delete "${this.$t('_content_page_title_' + id)}"?`)) {
        return;
      }

      this.loading = true;

      this.axios
        .delete(`content_page/${id}`)
        .then((res) => {
          const deleted = res.data;

          if (deleted !== true) {
            alert('Unable to delete page');
          }
          this.loadPages();
        })
        .catch((err) => {
          this.loading = false;
          alert(err);
        });
    },
    loadPages() {
      this.loading = true;
      this.mode = MODE_LIST;
      this.axios
        .get('content_page')
        .then((res) => {
          this.items = res.data;
          this.loading = false;
        })
        .catch((err) => alert(err));
    },
    updatePage(page) {
      this.axios
        .post('content_page/save/' + page.id, page)
        .then(() => {
          // I guess there isn't really anything to do....
        })
        .catch((err) => alert(err));
    },
    pageHasLang(page, lang) {
      const pageLang = _find(page.languages, (p) => p.lang === lang);
      return pageLang !== undefined;
    },
    stateText(page, lang) {
      const pageLang = _find(page.languages, (p) => p.lang === lang);

      if (pageLang !== undefined && pageLang.state === STATE_PUBLISHED) {
        return 'Published';
      } else {
        return 'Draft';
      }
    },
  },
};
</script>

<style scoped lang="scss">
.lang-list {
  margin-bottom: 0;

  .btn {
    padding: 0;
  }
}
</style>
