<template>
  <admin-layout :auto-hide-on-load="false">
    <div class="container">
      <div class="row">
        <div class="col form-inline mb-2">
          <label for="content-page">Page</label>
          <select
            id="content-page"
            v-model="contentPageId"
            :disabled="loading"
            class="form-control mr-2"
            @change="save"
          >
            <option :value="null">
              None
            </option>
            <option v-for="p in pages" :key="p.id" :value="p.id">
              {{ $t('_content_page_title_' + p.id) }}
            </option>
          </select>
          <input
            id="contact-enabled"
            v-model="enabled"
            v-b-tooltip.left
            type="checkbox"
            :disabled="loading"
            class="form-check-input"
            title="Will not show on the main menu when disabled."
            @change="save"
          />
          <label for="contact-enabled" class="mr-2">Enabled</label>
          <new-item
            translation-prefix="_contact_title_"
            save-path="contact/recipient/new"
            label="Contact Reason"
            :disabled="loading"
            class="mr-2"
            @saved="loadItems"
          />
          <order-items
            v-model="order"
            translation-prefix="_contact_title_"
            label="Order Reasons"
            class="mr-2"
            :disabled="loading || items.length <= 1"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Contact Reason</th>
                <th>Recipient</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in items" :key="i.id">
                <td>
                  <EditableString :string-id="'_contact_title_' + i.id" item-label="reason" />
                </td>
                <td>
                  <input
                    v-model="i.recipient"
                    type="text"
                    class="form-control form-control-sm"
                    :disabled="loading"
                    @change="save"
                  />
                </td>
                <td>
                  <BButton
                    variant="danger"
                    size="sm"
                    :disabled="loading"
                    @click="deleteRecipient(i)"
                  >
                    <FaIcon icon="trash" />
                  </BButton>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../AdminLayout';
import NewItem from '../../components/admin/NewItem';
import OrderItems from '../../components/admin/OrderItems';
import EditableString from '../../components/admin/EditableString';

import _map from 'lodash/map';

export default {
  components: { EditableString, OrderItems, NewItem, AdminLayout },
  data() {
    return {
      items: [],
      contentPageId: null,
      enabled: false,
      loading: true,
      pages: [],
    };
  },
  computed: {
    order: {
      get() {
        return this.items;
      },
      set(value) {
        this.loading = true;
        return this.axios
          .post(
            'contact/recipient/order',
            _map(value, (v) => v.id)
          )
          .then(() => {
            this.loadItems();
          })
          .catch((err) => alert(err));
      },
    },
  },
  mounted() {
    this.loadItems();
  },
  methods: {
    loadItems() {
      this.loading = true;
      this.axios
        .get('contact')
        .then((resp) => {
          this.contentPageId = resp.data.contact.content_page_id;
          this.enabled = !!resp.data.contact.enabled;
          if (resp.data.contact.recipients) {
            this.items = resp.data.contact.recipients;
          } else {
            this.items = [];
          }
          this.pages = resp.data.pages;
          this.loading = false;
        })
        .catch((err) => alert(err));
    },
    save() {
      this.axios
        .post('contact', {
          content_page_id: this.contentPageId,
          recipients: this.items,
          enabled: this.enabled,
        })
        .catch((err) => alert(err));
    },
    deleteRecipient(recipient) {
      if (
        !confirm(`Are you sure you want to delete ${this.$t('_contact_title_' + recipient.id)}?`)
      ) {
        return;
      }

      this.loading = true;
      this.axios
        .delete('contact/recipient/' + recipient.id)
        .then(() => this.loadItems())
        .catch((err) => alert(err));
    },
  },
};
</script>
