<template>
  <layout v-once :enable-menu="false">
    <div class="row">
      <ul class="col-6">
        <li>
          <a href="/" target="_blank">Learning App</a>
        </li>
        <li>
          <RouterLink :to="{ name: 'lessons' }">
            Lessons
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'lesson_categories' }">
            Lesson Categories
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'content_pages' }">
            Pages
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'contact' }">
            Contact Page
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'translation' }">
            Translations
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'manage_assets', params: { assetType: 'd' } }">
            Images
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'manage_assets', params: { assetType: 'a' } }">
            Audio
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'licenses' }">
            Asset Licenses
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'settings' }">
            Site Settings
          </RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'users_admin' }">
            Admin Users
          </RouterLink>
        </li>
      </ul>
      <ul class="col-6">
        <li>
          <RouterLink :to="{ name: 'results' }">Student Activity Results</RouterLink>
        </li>
        <li>
          <RouterLink :to="{ name: 'student_groups' }">Student Groups</RouterLink>
        </li>
      </ul>
    </div>
  </layout>
</template>

<script>
import Layout from 'AdminLayout';
export default {
  components: { Layout },
};
</script>
