<template>
  <AdminLayout :auto-hide-on-load="false" fluid>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 form-inline mt-2 pb-2 border-bottom">
          <label for="lessonId">Lesson</label>
          <select
            id="lessonId"
            v-model="lessonId"
            :disabled="lessonsLoading || disabled"
            class="form-control mr-2"
          >
            <option v-for="l in lessonData" :key="l.id" :value="l.id">
              {{ $t('_lesson_' + l.id) }}
            </option>
          </select>

          <select
            id="lessonState"
            v-model="lessonState"
            :disabled="lessonsLoading || disabled"
            class="form-control mr-2"
          >
            <option v-for="(v, k) in states" :key="k" :value="k">
              {{ v }}
            </option>
          </select>

          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text mr-0 pr-1" for="lessonCategory">Category</label>
            </div>
            <select
              id="lessonCategory"
              v-model="lessonCategory"
              :disabled="lessonsLoading || disabled"
              class="form-control mr-2"
              :class="{ 'bg-danger': lessonCategory === null }"
            >
              <option :value="null">
                Uncategorized
              </option>
              <option v-for="(v, k) in $store.state.data.lessonCategories" :key="k" :value="v.id">
                {{ $t('_lesson_category_' + v.id) }}
              </option>
            </select>
          </div>

          <EditableString
            :visible="false"
            :string-id="'_lesson_' + lessonId"
            item-label="Lesson Title"
            variant="secondary"
            size="sm"
            class="mr-2"
          />

          <EditableString
            :visible="false"
            :string-id="`_lesson_credits_${lessonId}`"
            item-label="Lesson Credits"
            variant="secondary"
            size="sm"
            class="mr-2"
            enable-delete
          />

          <OrderItems
            v-if="lessonOrder"
            v-model="lessonOrder"
            translation-prefix="_lesson_"
            label="Order Lessons"
            class="mr-2"
          />

          <NewItem
            translation-prefix="_lesson_"
            save-path="lesson"
            label="Lesson"
            :disabled="disabled"
            class="mr-2"
            @saved="afterNewLesson"
          />

          <BButton
            v-if="lessonEntity && lessonEntity.activities.length === 0"
            variant="danger"
            size="sm"
            @click="deleteLesson"
          >
            <FaIcon icon="trash" />
            Delete Lesson
          </BButton>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2 pl-0">
          <LessonConfig :lesson-id="lessonId" @changed="disabled = $event" />
        </div>
      </div>
    </div>
  </AdminLayout>
</template>

<script>
import Lessons from 'mixins/Lessons';
import AdminLayout from 'AdminLayout';
import LessonConfig from '../../components/admin/LessonConfig';
import OrderItems from 'components/admin/OrderItems';
import EditableString from 'components/admin/EditableString';
import NewItem from 'components/admin/NewItem';

import { LESSONS } from '../../store/mutationTypes';

import _find from 'lodash/find';
import { LoadTranslations } from '../../i18n';

const STATE_DRAFT = 0,
  STATE_PUBLISHED = 1;

export default {
  components: {
    LessonConfig,
    AdminLayout,
    OrderItems,
    EditableString,
    NewItem,
  },
  mixins: [Lessons],
  beforeRouteLeave(to, from, next) {
    if (this.disabled) {
      next(confirm('If you lave this page you will loose all unsaved changes!'));
    } else {
      next();
    }
  },
  data() {
    return {
      lessonId: null,
      disabled: false,
      STATE_DRAFT,
      STATE_PUBLISHED,
      states: { [STATE_DRAFT]: 'Draft', [STATE_PUBLISHED]: 'Published' },
    };
  },
  computed: {
    lessonOrder: {
      get() {
        return this.lessonData;
      },
      set(value) {
        this.axios.post('lesson/order', value).catch((err) => alert(err));
        this.$store.commit(LESSONS, value);
      },
    },
    lessonState: {
      get() {
        if (!this.lessonId) {
          return STATE_DRAFT;
        }

        const lesson = _find(this.lessonData, (l) => l.id === this.lessonId);

        return lesson.state;
      },
      set(value) {
        this.axios
          .post('lesson/' + this.lessonId, {
            id: this.lessonId,
            state: value,
            category_id: this.lessonCategory,
          })
          .then((res) => {
            this.$store.commit(LESSONS, res.data);
          })
          .catch((err) => alert(err));
      },
    },
    lessonCategory: {
      get() {
        if (!this.lessonId) {
          return null;
        }

        const lesson = _find(this.lessonData, (l) => l.id === this.lessonId);
        return lesson.category_id;
      },
      set(value) {
        this.axios
          .post('lesson/' + this.lessonId, {
            id: this.lessonId,
            state: this.lessonState,
            category_id: value,
          })
          .then((res) => {
            this.$store.commit(LESSONS, res.data);
          })
          .catch((err) => alert(err));
      },
    },
  },
  mounted() {
    this.$on('lessonsLoaded', () => {
      if (this.lessonData.length > 0) {
        this.lessonId = this.lessonData[0].id;
      } else {
        this.lessonId = null;
      }
    });
  },
  methods: {
    async afterNewLesson(lesson) {
      await this.loadLessons(true);
      this.lessonId = lesson.id;
    },
    async deleteLesson() {
      if (confirm('Are you sure you want to delete this lesson?')) {
        await this.axios.delete(`/lesson/${this.lessonId}`);
        this.lessonId = null;
        await this.loadLessons(true);
        await LoadTranslations(this.$store.state.locale);
      }
    },
  },
};
</script>
