<template>
  <AdminLayout :auto-hide-on-load="false">
    <div v-show="!loading" class="container-fluid">
      <div class="row">
        <div class="col-12 form-inline mb-2">
          <NewItem
            translation-prefix="_lesson_category_"
            save-path="lesson_categories"
            label="Category"
            class="mr-2"
            @saved="loadCategories"
          />
          <OrderItems
            v-model="categoryOrder"
            translation-prefix="_lesson_category_"
            label="Order Categories"
            class="mr-2"
          />
        </div>
        <div class="col">
          <AssetSelector ref="imageSelector" type="d" :max="1" @input="saveAsset" />
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Image</th>
                <th>Title</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <tr v-for="(i, k) in items" :key="k">
                <td>
                  <ImageDisplay
                    v-if="i.asset.id"
                    :id="'img-' + k"
                    :content="{ display: i.asset }"
                    no-video
                    video-icon
                    display-only
                    :autosize="35"
                    class="d-inline-block"
                  />
                  <BButton size="sm" @click="showModal(k)">
                    <FaIcon icon="pencil-alt" />
                  </BButton>
                </td>
                <td>
                  <EditableString :string-id="'_lesson_category_' + i.id" />
                </td>
                <td>
                  <BButton variant="danger" size="sm" @click="deleteCategory(i.id)">
                    <FaIcon icon="trash" />
                  </BButton>
                  <EditableString
                    :visible="false"
                    :string-id="`_lesson_category_credits_${i.id}`"
                    item-label="Lesson Category Credits"
                    variant="secondary"
                    size="sm"
                    class="ml-2"
                    enable-delete
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <Loading v-model="loading" size="lg" />
  </AdminLayout>
</template>

<script>
import AdminLayout from 'AdminLayout';
import OrderItems from 'components/admin/OrderItems';
import EditableString from 'components/admin/EditableString';
import ImageDisplay from 'components/ImageDisplay';
import Loading from '../../components/Loading';
import NewItem from '../../components/admin/NewItem';
import AssetSelector from '../../components/admin/content/AssetSelector';

import _map from 'lodash/map';

export default {
  components: {
    AssetSelector,
    NewItem,
    Loading,
    AdminLayout,
    OrderItems,
    EditableString,
    ImageDisplay,
  },
  data() {
    return {
      loading: true,
      items: [],
      currentItem: 0,
    };
  },
  computed: {
    categoryOrder: {
      get() {
        return this.items;
      },
      set(value) {
        this.loading = true;
        this.axios
          .post(
            'lesson_categories/order',
            _map(value, (v) => v.id)
          )
          .then(() => this.loadCategories())
          .catch((err) => alert(err));
      },
    },
  },
  mounted() {
    this.loadCategories();
  },
  methods: {
    deleteCategory(id) {
      if (!confirm(`Are you sure you want to delete "${this.$t('_lesson_category_' + id)}"?`)) {
        return;
      }
      this.loading = true;
      this.axios
        .delete('lesson_categories/' + id)
        .then((res) => {
          const deleted = res.data;

          if (deleted !== true) {
            alert('Unable to delete category. Is it in use?');
          }
          this.loadCategories();
        })
        .catch((err) => alert(err));
    },
    saveCategory(category) {
      this.loading = true;
      this.axios
        .post('lesson_categories/' + category.id, category)
        .then(() => {
          this.loadCategories();
        })
        .catch((err) => alert(err));
    },
    loadCategories() {
      this.loading = true;
      this.axios
        .get('lesson_categories?' + new Date().getTime())
        .then((res) => {
          this.items = res.data;
          this.loading = false;
        })
        .catch((err) => alert(err));
    },
    showModal(key) {
      this.currentItem = key;
      this.$refs.imageSelector.show(this.items[key].asset);
    },
    saveAsset(value) {
      this.items[this.currentItem].asset = value[0];
      this.saveCategory(this.items[this.currentItem]);
    },
  },
};
</script>
