<template>
  <AdminLayout>
    <div class="row">
      <Loading v-model="loading" center size="lg" />

      <div>
        <div class="alert alert-danger">
          Licenses are shared between <strong>all</strong> sites on the server.<br />
          Licenses that are in use can not be deleted.
        </div>
        <div v-if="!loading" class="form-group">
          <table v-if="licenses" class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(l, k) in licenses" :key="k">
                <td>
                  <input v-model="l.id" type="text" class="form-control" :disabled="saving" />
                </td>
                <td>
                  <input v-model="l.name" type="text" class="form-control" :disabled="saving" />
                </td>
                <td>
                  <BButton size="sm" variant="danger" :disabled="saving" @click="remove(k)">
                    <FaIcon icon="trash" />
                  </BButton>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <BButton size="sm" :disabled="saving" @click="add">
          Add License
        </BButton>
        <BButton size="sm" variant="primary" :disabled="saving" @click="save">
          Save
        </BButton>
      </div>
    </div>
  </AdminLayout>
</template>

<script>
import AdminLayout from '../../AdminLayout';

import api from 'helpers/Api';
import Loading from '../../components/Loading';

import _clone from 'lodash/cloneDeep';
import { SETTINGS } from '../../store/mutationTypes';

export default {
  components: { Loading, AdminLayout },
  data() {
    return {
      licenses: [],
      loading: true,
      saving: false,
    };
  },
  async mounted() {
    const response = await api.get('licenses');

    this.licenses = response.data;

    this.loading = false;
  },
  methods: {
    add() {
      this.licenses.push({
        id: null,
        name: null,
      });
    },
    remove(k) {
      this.licenses.splice(k, 1);
    },
    async save() {
      this.saving = true;

      const response = await api.post('licenses', this.licenses);

      this.licenses = response.data;

      const settings = _clone(this.$store.state.data.settings);

      // Update the settings.
      settings.licenses = response.data;

      this.$store.commit(SETTINGS, settings);

      this.saving = false;
    },
  },
};
</script>
