<template>
  <div class="container-fluid mt-4">
    <div class="row">
      <div v-if="!loading" class="col-sm-6 col-xs-8 col-md-4 col-lg-3 mx-auto">
        <h1>Log in</h1>
        <div v-if="message" class="alert alert-danger">
          {{ message }}
        </div>
        <label for="username">Email Address</label>
        <BInput id="username" v-model="username" type="text" />

        <label for="password">Password</label>
        <BInput
          id="password"
          ref="password"
          v-model="password"
          type="password"
          @keyup.enter.native="doLogin"
        />
        <BButton id="submit" variant="primary" class="mt-3" @click="doLogin">
          Submit
        </BButton>
      </div>
      <div v-else class="col mx-auto text-center" style="font-size: 5rem;">
        <FaIcon icon="spinner" spin />
      </div>
    </div>
  </div>
</template>

<script>
import { BFormInput } from 'bootstrap-vue';

import { USERNAME_ADMIN } from '../../store/mutationTypes';

export default {
  components: { BInput: BFormInput },
  data() {
    return {
      username: '',
      password: '',
      message: '',
      loading: false,
    };
  },
  methods: {
    doLogin() {
      this.loading = true;

      this.axios
        .post('/auth/login', {
          username: this.username,
          password: this.password,
        })
        .then((response) => {
          this.$store.commit(USERNAME_ADMIN, response.data.username);
          this.$router.push({ name: 'index' });
        })
        .catch((error) => {
          this.$store.commit(USERNAME_ADMIN, undefined);
          this.loading = false;
          this.password = null;
          if (error.response) {
            if (error.response.status === 401) {
              this.message = 'Invalid username or password';
            } else {
              this.message = error.response.data;
            }
          }
          this.$nextTick(() => {
            this.$refs.password.focus();
          });
        });
    },
  },
};
</script>
