<template>
  <Layout fluid>
    <template #title>
      Photo Credits
    </template>
    <div v-if="!loading" class="container-fluid">
      <div class="row">
        <h5>Bulk Apply</h5>
      </div>
      <div class="row mb-2">
        <div class="col-8 col-sm-4">
          <BFormInput
            v-model="bulkApply.credits_person"
            size="sm"
            type="text"
            placeholder="Person Credits"
            class="mb-1"
          />
          <BFormInput
            v-model="bulkApply.credits_source"
            size="sm"
            type="text"
            placeholder="Source Credits"
            class="mb-1"
          />
          <BFormSelect
            v-model="bulkApply.license"
            size="sm"
            :options="licensesFilters"
            title="License"
            text-field="name"
            value-field="id"
            class="mb-1"
          />
          />
          <div class="float-left">
            <BButton size="sm" :disabled="qtySelected === 0" @click="executeBulkApply">
              Apply
            </BButton>
            <BButton size="sm" @click="filterNone">
              Reset Filter
            </BButton>
          </div>
          <div class="float-right">
            <BButton size="sm" @click="bulkShareAsset">
              <FaIcon icon="shapes" /> Share Assets
            </BButton>
            <AssetShare ref="bulkShareAsset" :auto-save="false" @save="bulkApplyShareAsset">
              >
              <div class="alert alert-warning">
                <FaIcon icon="exclamation-triangle" />
                This functionality will ONLY share assets, it is not possible to UN-share.
                <br />Un-sharing must be done on individual assets.
              </div>
            </AssetShare>
          </div>
        </div>
        <div class="col-4 col-sm-8">
          <VDropzone
            id="asset-upload"
            ref="dropzone"
            class="p-1"
            :options="dropzoneOptions"
            @vdropzone-sending="sendAsset"
            @vdropzone-success="uploadSucess"
          />
        </div>
      </div>
      <div v-if="!loading" class="row form-inline">
        <BPagination
          v-if="filtered.length >= pagination.qtyPerPage"
          v-model="pagination.page"
          :total-rows="filtered.length"
          :per-page="pagination.qtyPerPage"
          class="mt-3 mr-2"
        />
        <template v-if="data.length > 25">
          <label for="qty-per-page">Qty Per Page</label>
          <select
            id="qty-per-page"
            v-model="pagination.qtyPerPage"
            class="form-control form-control-sm"
          >
            <option :value="25">
              25
            </option>
            <option :value="50">
              50
            </option>
            <option :value="100">
              100
            </option>
          </select>
        </template>
      </div>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="thumbnail-column">
              <BButton variant="link" size="sm" @click="selectAll"> Select All </BButton>/<BButton
                variant="link"
                size="sm"
                @click="selectNone"
              >
                Select None
              </BButton>
            </th>
            <th>
              Caption
              <BFormInput
                v-model="filter.caption"
                size="sm"
                placeholder="Filter Caption"
                @input="applyFilterDebounced"
              />
            </th>
            <th>
              Person Credits
              <BButton
                variant="link"
                :class="{ active: filter.credits_person === '-blank-' }"
                @click="filterBlank('credits_person')"
              >
                Filter Blank
              </BButton>
              <BFormInput
                v-model="filter.credits_person"
                size="sm"
                placeholder="Filter Person Credits"
                @input="applyFilterDebounced"
              />
            </th>
            <th>
              Source Credits
              <BButton
                variant="link"
                :class="{ active: filter.credits_source === '-blank-' }"
                @click="filterBlank('credits_source')"
              >
                Filter Blank
              </BButton>
              <BFormInput
                v-model="filter.credits_source"
                size="sm"
                placeholder="Filter Source Credits"
                @input="applyFilterDebounced"
              />
            </th>
            <th>
              License
              <BButton
                variant="link"
                :class="{ active: filter.license === '-blank-' }"
                @click="filterBlank('license')"
              >
                Filter Blank
              </BButton>
              <BFormSelect
                v-model="filter.license"
                size="sm"
                :options="licensesFilters"
                title="Filter License"
                text-field="name"
                value-field="id"
                @input="applyFilter"
              />
            </th>
            <th>
              Sharing
              <BFormSelect
                v-model="filter.site"
                size="sm"
                :options="sites"
                title="Filter Sites"
                @input="applyFilter"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(d, id) in pagedAssets" :key="id">
            <td class="align-middle text-nowrap">
              <BFormCheckbox v-model="selected[d.id]" />
              <template v-if="assetType === 'd'">
                <ImageDisplay
                  :id="'img_' + d.id"
                  v-b-tooltip
                  class="thumbnail"
                  :content="{ display: d }"
                  style="height: 30px; display: inline-block;"
                  display-only
                  no-video
                  always-selectable
                  video-icon
                  :autosize="35"
                  title="click to show/hide details"
                />
                <ImagePopover triggers="click" :target="'img_' + d.id" :image="d" />
              </template>
              <template v-if="assetType === 'a'">
                <PlayIcon :audio="d" show-error />
              </template>

              <label
                :for="'file-replace-' + d.id"
                class="btn btn-secondary btn-sm mb-0"
                :class="{ disabled: !d.is_owner }"
                :disabled="!d.is_owner"
                >change</label
              >
              <input
                :id="'file-replace-' + d.id"
                type="file"
                :data-key="id"
                :accept="accept"
                :disabled="!d.is_owner"
                @change="changeAsset"
              />
              <BButton
                v-b-tooltip
                size="sm"
                variant="primary"
                title="Share asset across sites"
                :disabled="!d.is_owner"
                @click="shareAsset(d)"
              >
                <FaIcon icon="shapes" />
              </BButton>
              <BButton size="sm" variant="danger" @click="deleteAsset(d)">
                <FaIcon icon="trash" />
              </BButton>
            </td>
            <td>
              <input
                v-model.trim.lazy="d.caption"
                class="form-control form-control-sm"
                type="text"
                :disabled="!d.is_owner"
                @blur="saveAsset(d)"
              />
            </td>
            <td>
              <input
                v-model.trim.lazy="d.credits_person"
                class="form-control form-control-sm"
                type="text"
                :disabled="!d.is_owner"
                @blur="saveAsset(d)"
              />
            </td>
            <td>
              <input
                v-model.trim.lazy="d.credits_source"
                class="form-control form-control-sm"
                type="text"
                :disabled="!d.is_owner"
                @blur="saveAsset(d)"
              />
            </td>
            <td>
              <BFormSelect
                v-model.lazy="d.license"
                size="sm"
                :options="licenses"
                text-field="name"
                value-field="id"
                :disabled="!d.is_owner"
                @input="saveAsset(d)"
              />
            </td>
            <td class="siteList">
              <ul class="p-0 m-0">
                <li
                  v-for="s in d.sites"
                  :key="s.site_id"
                  v-b-tooltip
                  :title="sites[s.site_id] + (s.owner ? ' (owner)' : '')"
                  :class="{ 'font-italic': s.owner }"
                >
                  {{ s.site_id }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <Loading v-else size="lg" center />
    <AssetShare ref="assetShare" />
  </Layout>
</template>

<script>
import Layout from 'AdminLayout';
import { BFormInput, BFormSelect, BFormCheckbox, BPagination } from 'bootstrap-vue';
import Loading from 'components/Loading';
import ImagePopover from 'components/admin/ImagePopover';
import vDropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import PlayIcon from 'components/PlayIcon';
import ImageDisplay from 'components/ImageDisplay';
import AssetShare from '../../components/admin/content/AssetShare';

import { BaseUrl } from 'helpers/Api';
import { load as getAssets } from 'data/Images';

import _find from 'lodash/find';
import _delay from 'lodash/delay';
import _debounce from 'lodash/debounce';
import _clone from 'lodash/cloneDeep';
import _invert from 'lodash/invert';

export default {
  components: {
    Layout,
    BFormInput,
    BFormSelect,
    BFormCheckbox,
    Loading,
    ImagePopover,
    VDropzone: vDropzone,
    PlayIcon,
    ImageDisplay,
    BPagination,
    AssetShare,
  },
  props: {
    assetType: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      data: [],
      filtered: [],
      pagination: {
        page: 1,
        qtyPerPage: 25,
      },
      selected: {},
      hidden: {},
      saving: false,
      activeFilter: '',
      captionFilter: '',
      bulkApply: {
        credits_person: '',
        credits_source: '',
        license: '',
      },
      filter: {
        caption: '',
        credits_person: '',
        credits_source: '',
        license: '',
      },
      dropzoneOptions: {
        url: BaseUrl + '/asset/upload',
        withCredentials: true,
        acceptedFiles: this.accept,
        thumbnailHeight: 75,
        thumbnailWidth: null,
        // upload images and expecially videos one at a time
        parallelUploads: this.assetType === 'd' ? 1 : 5,
        // five minutes
        timeout: 3600000,
      },
    };
  },
  computed: {
    pagedAssets() {
      if (!this.filtered || this.filtered.length === 0) {
        return [];
      }

      const start = (this.pagination.page - 1) * this.pagination.qtyPerPage,
        end = start + this.pagination.qtyPerPage;
      return this.filtered.slice(start, end);
    },
    qtySelected() {
      let qty = 0;

      for (let id in this.selected) {
        if (this.selected[id] === true) {
          qty++;
        }
      }

      return qty;
    },
    licenses() {
      let lics = _clone(this.$store.getters.setting('licenses'));

      if (lics === undefined) {
        lics = [];
      }

      // add blank so it can be de-selected.
      lics.unshift({
        id: '',
        name: '',
      });
      return lics;
    },
    licensesFilters() {
      let lics = _clone(this.licenses);

      lics.splice(1, 0, {
        id: '-blank-',
        name: '-blank-',
      });

      return lics;
    },
    accept() {
      let fileType;

      if (this.assetType === 'd') {
        fileType = 'image/*, video/*';
      } else if (this.assetType === 'a') {
        fileType = 'audio/mpeg';
      }

      return fileType;
    },
    sites() {
      let sites = _invert(this.$store.state.admin.sites);

      // Add blank property so that filter can be de-selected.
      sites[''] = '';
      return sites;
    },
  },
  mounted() {
    this.applyFilterDebounced = _debounce(this.applyFilter, 500);
    this.loadAssets().then(() => {
      this.loading = false;
      this.filtered = this.data;
    });
    this.$store.dispatch('loadSites');
  },
  methods: {
    executeBulkApply() {
      for (let id in this.selected) {
        if (!this.selected.hasOwnProperty(id)) {
          continue;
        }
        if (this.selected[id] !== true) {
          continue;
        }
        const intId = parseFloat(id),
          asset = _find(this.data, (item) => item.id === intId);
        if (!asset.is_owner) {
          // We shouldn't modify assets that we don't own.
          continue;
        }
        if (this.bulkApply.credits_person.length > 0) {
          asset.credits_person = this.bulkApply.credits_person;
        }
        if (this.bulkApply.credits_source.length > 0) {
          asset.credits_source = this.bulkApply.credits_source;
        }

        if (this.bulkApply.license.length > 0) {
          if (this.bulkApply.license === '-blank-') {
            asset.license = null;
          } else {
            asset.license = this.bulkApply.license;
          }
        }

        this.saveAsset(asset);
      }
    },
    bulkApplyShareAsset(sites) {
      for (let id in this.selected) {
        if (!this.selected.hasOwnProperty(id)) {
          continue;
        }
        if (this.selected[id] !== true) {
          continue;
        }

        const intId = parseFloat(id);

        this.axios.post(`asset/${id}/sites?add=true`, sites).then((resp) => {
          if (resp.data.sites) {
            const asset = _find(this.data, (item) => item.id === intId);
            asset.sites = resp.data.sites;
          }
        });
      }

      this.$refs.bulkShareAsset.hide();
    },
    selectAll() {
      let selected = {};
      for (let id in this.filtered) {
        selected[this.filtered[id].id] = true;
      }
      this.selected = selected;
    },
    selectNone() {
      this.selected = {};
    },
    filterNone() {
      this.filter.caption = '';
      this.filter.credits_person = '';
      this.filter.credits_source = '';
      this.filter.license = '';
      this.filter.site = '';
      this.applyFilter();
    },
    filterBlank(field) {
      if (this.filter[field] === '-blank-') {
        this.filter[field] = '';
      } else {
        this.filter[field] = '-blank-';
      }
      this.applyFilter();
    },
    // eslint-disable-next-line @typescript-eslint/no-empty-function
    applyFilterDebounced() {},
    applyFilter() {
      this.filtered = [];
      this.selected = {};
      this.pagination.page = 1;

      for (let id = 0; id < this.data.length; id++) {
        const datum = this.data[id];
        let visible = true;

        for (let field in this.filter) {
          if (!this.filter.hasOwnProperty(field)) {
            continue;
          }
          let searchVal = this.filter[field].toLowerCase(),
            enabled = searchVal !== '',
            blank = searchVal === '-blank-',
            exact = field === 'license';
          if (!enabled) {
            continue;
          }
          if (field === 'site') {
            const matches = _find(datum.sites, (s) => s.site_id === searchVal);
            visible = visible && matches !== undefined;
          } else {
            let fieldVal = datum[field] === null ? '' : datum[field];

            if (blank) {
              visible = visible && fieldVal.length === 0;
            } else if (exact) {
              visible = visible && fieldVal.toLowerCase() === searchVal;
            } else {
              visible = visible && fieldVal.toLowerCase().indexOf(searchVal) >= 0;
            }
          }
        }

        if (visible) {
          this.filtered.push(this.data[id]);
        }
      }
    },
    bulkShareAsset() {
      this.$refs.bulkShareAsset.show();
    },
    loadAssets() {
      return getAssets(this.assetType, true, true)
        .then((images) => {
          this.data = images;
          return images;
        })
        .catch((err) => alert(err));
    },
    saveAsset(asset) {
      this.saving = true;

      this.axios
        .post('asset/' + asset.id, asset)
        .then(() => {
          this.saving = false;
        })
        .catch((err) => alert(err));
    },
    sendAsset(file, xhr, formData) {
      formData.append('caption', file.name.split('.')[0]);
      formData.append('license', '');
      formData.append('credits_source', '');
      formData.append('credits_person', '');
    },
    uploadSucess(file, response) {
      this.data.unshift(response);
      this.applyFilter();
      const dropzone = this.$refs.dropzone;
      _delay(() => {
        dropzone.removeFile(file);
      }, 1500);
    },
    changeAsset(e) {
      const file = e.target.files[0],
        key = e.target.dataset.key,
        asset = this.filtered[key];
      let formData = new FormData();

      formData.append('id', asset.id);
      formData.append('file', file);
      formData.append('name', asset.name);
      formData.append('caption', asset.caption);
      formData.append('license', asset.license);
      formData.append('credits_source', asset.credits_source);
      formData.append('credits_person', asset.credits_person);

      this.data[key].name = 'not_found';

      this.axios
        .post('asset/upload', formData)
        .then((response) => {
          for (let field in response.data) {
            this.filtered[key][field] = response.data[field];
          }
        })
        .catch((err) => {
          alert(err);
        });
    },
    deleteAsset(asset) {
      if (asset.usages > 0) {
        alert(`Asset is used in ${asset.usages} activities and can't be deleted`);
        return;
      }

      if (!confirm(`Are you sure you want to delete "${asset.caption}"?`)) {
        return;
      }

      this.loading = true;
      this.axios
        .delete(`asset/${asset.id}`)
        .then(() => {
          this.loadAssets().then(() => {
            this.applyFilter();
            this.loading = false;
          });
        })
        .catch((err) => {
          alert(err.response.data);
        });
    },
    shareAsset(asset) {
      this.$refs.assetShare.show(asset);
    },
  },
};
</script>

<style scoped lang="scss">
.custom-checkbox {
  margin-right: 0;
}
#asset-upload {
  height: 100%;
  min-height: 4rem;
}
input[type='file'] {
  position: absolute;
  left: -1500px;
}
.siteList {
  li {
    list-style-type: none;
    float: left;
    padding-left: 0.25em;
  }
}
</style>
