<template>
  <AdminLayout>
    <Loading v-if="loading" size="lg" />
    <div v-else>
      <h1>
        Results for {{ user.name }}
        <img v-if="user.photoUrl" :src="user.photoUrl" :class="$style.avatar" />
      </h1>
      <div>{{ user.email }}</div>
      <div class="alert alert-info">
        A status of partial indicates that the user didn't complete the whole activity. The numbers
        in parenthisis indicate how many items of the activity they completed.
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Lesson</th>
            <th>Activity</th>
            <th>Score</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(d, k) in data" :key="k">
            <td>{{ d.started | formatDate }}</td>
            <td :class="d.complete !== d.qty ? $style.error : ''">
              {{ (d.complete === d.qty ? 'Complete' : 'Partial') }}
              <span v-if="d.complete !== d.qty">({{ d.complete }}/{{ d.qty }})</span>
            </td>
            <td>{{ $t('_lesson_' + d.lesson_id) }}</td>
            <td>{{ $t('_activity_' + d.activity_id) }}</td>
            <td>
              <div :class="$style.rightAlign">
                {{ (d.correct / d.qty) | score }} ({{ d.correct }}/{{ d.qty }})
              </div>
            </td>
            <td>{{ d.type | activityType }}</td>
          </tr>
        </tbody>
      </table>
      <BPagination
        v-if="pagination.qtyRows > pagination.qtyPerPage"
        v-model="pagination.page"
        :per-page="pagination.qtyPerPage"
        :total-rows="pagination.qtyRows"
      />
    </div>
  </AdminLayout>
</template>

<script>
import AdminLayout from '../../AdminLayout';
import Loading from '../../components/Loading';
import api from 'helpers/Api';
import qs from 'qs';
import { BPagination } from 'bootstrap-vue';
import ActivityTypes from '../../config/admin/ActivityTypes';

export default {
  components: { Loading, AdminLayout, BPagination },
  filters: {
    score(value) {
      return Math.round(value * 10000) / 100 + '%';
    },
    formatDate(value) {
      const date = new Date(value);
      return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
    },
    activityType(value) {
      return ActivityTypes[value].title;
    },
  },
  props: {
    uid: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    loading: true,
    user: {},
    data: [],
    pagination: {
      page: 1,
      qtyPerPage: 50,
      qtyRows: 0,
    },
  }),
  watch: {
    'pagination.page'() {
      this.load();
    },
  },
  mounted() {
    this.load();
  },
  methods: {
    async load() {
      this.loading = true;

      const query = qs.stringify({
        page: this.pagination.page - 1,
        qtyPerPage: this.pagination.qtyPerPage,
      });

      const response = await api.get(`result/${this.uid}?${query}`);

      this.data = response.data.data;
      this.user = response.data.user;
      this.pagination.qtyRows = response.data.qtyRows;
      this.loading = false;
    },
  },
};
</script>

<style module>
.avatar {
  height: 1em;
  width: 1em;
  border-radius: 5px;
}
.rightAlign {
  text-align: right;
}
.error {
  color: red;
}
</style>
