<template>
  <AdminLayout>
    <h1>Results</h1>
    <div>
      <BButton :disabled="loading" variant="primary" size="sm" @click="load">
        <FaIcon icon="sync-alt" /> Refresh
      </BButton>
    </div>
    <Loading v-if="loading" size="lg" />
    <div v-else>
      <table class="table table-sm table-hover table-responsive table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Most Recent Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in data" :key="row.uid">
            <td>
              <RouterLink :to="{ name: 'results_user', params: { uid: row.uid } }">
                <img v-if="row.photoUrl" :src="row.photoUrl" :class="$style.avatar" />
                <span>{{ row.name }}</span>
              </RouterLink>
            </td>
            <td>{{ row.email }}</td>
            <td>{{ row.started | formatDate }}</td>
          </tr>
        </tbody>
      </table>
      <BPagination
        v-if="pagination.qtyRows > pagination.qtyPerPage"
        v-model="pagination.page"
        :per-page="pagination.qtyPerPage"
        :total-rows="pagination.qtyRows"
      />
    </div>
  </AdminLayout>
</template>

<script>
import AdminLayout from '../../AdminLayout';
import api from 'helpers/Api';
import Loading from '../../components/Loading';
import { BPagination } from 'bootstrap-vue';
import qs from 'qs';

export default {
  components: { Loading, AdminLayout, BPagination },
  filters: {
    formatDate(value) {
      const date = new Date(value);
      return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
    },
  },
  data() {
    return {
      loading: true,
      data: {},
      pagination: {
        page: 1,
        qtyPerPage: 50,
        qtyRows: 0,
      },
    };
  },
  watch: {
    'pagination.page'() {
      this.load();
    },
  },
  mounted() {
    this.load();
  },
  methods: {
    async load() {
      this.loading = true;
      const query = qs.stringify({
        page: this.pagination.page - 1,
        qtyPerPage: this.pagination.qtyPerPage,
      });
      const response = await api.get(`result?${query}`);
      this.data = response.data.data;
      this.pagination.qtyRows = response.data.qtyRows;
      this.loading = false;
    },
  },
};
</script>

<style module>
.avatar {
  height: 1em;
  width: 1em;
  border-radius: 4px;
}
</style>
