<template>
  <layout>
    <div class="row mx-3">
      <div>
        <div class="form-inline">
          <label for="tracking-id">Google Analytics Tracking ID</label>
          <input
            id="tracking-id"
            v-model="settings.trackingId"
            :disabled="loading"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="lang-direction">Learn Language Direction</label>
          <select
            id="lang-direction"
            v-model="settings.langDirection"
            :disabled="loading"
            class="form-control"
          >
            <option value="ltr">
              Left to Right
            </option>
            <option value="rtl">
              Right to Left
            </option>
          </select>
          <small class="form-text text-muted">Normal direction of the language.</small>
        </div>

        <div class="form-group">
          <label for="nav-direction">Navigation Direction</label>
          <select
            id="nav-direction"
            v-model="settings.navDirection"
            :disabled="loading"
            class="form-control"
          >
            <option value="ltr">
              Left to Right
            </option>
            <option value="rtl">
              Right to Left
            </option>
          </select>
          <small class="form-text text-muted">
            If the learn language read direction is RTL, it may make sense to have the arrow
            navigation buttons also be RTL.
          </small>
        </div>

        <div class="form-group">
          <label for="content-font">Learn Language Font</label>
          <select
            id="content-font"
            v-model="settings.contentFont"
            :disabled="loading"
            class="form-control"
          >
            <option value="'Times New Roman', Times, serif">
              Times New Roman, Times, Serif
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="content-font">Learn Language Font Size</label>
          <select
            id="content-font-size"
            v-model="settings.contentFontsize"
            :disabled="loading"
            class="form-control"
          >
            <option v-for="size in [1, 1.5, 2, 2.5, 3]" :key="size" :value="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="firebase-config">Firebase Client Config</label>
          <textarea
            id="firebase-config"
            v-model="settings.firebaseConfig"
            :disabled="loading"
            name="firebase-config"
            class="form-control"
          />
          <small class="form-text text-muted">
            Paste in the JSON serialized value of the <code>firebaseConfig</code> variable in the
            app config.
          </small>
        </div>

        <div class="form-group">
          <label for="firebase-service-account">Firebase Service Account Certificate</label>
          <textarea
            id="firebase-service-account"
            v-model="settings.firebaseServiceAccount"
            :disabled="loading"
            class="form-control"
          />
          <small class="form-text text-muted">
            Paste in the contents of the service account key JSON file downloaded when you generage
            a new private key.
          </small>
        </div>

        <div class="form-group">
          <BButton :disabled="loading" variant="primary" @click="save">
            Save
          </BButton>
        </div>
        <h2>Developer Settings:</h2>
        <div class="form-inline">
          <label for="log-level">Log Level</label>
          <select id="log-level" v-model="logLevel" class="form-control">
            <option
              v-for="i in ['debug', 'info', 'warn', 'error', 'fatal', 'disabled']"
              :key="i"
              :value="i"
            >
              {{ i }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </layout>
</template>

<script>
import Layout from 'AdminLayout';
import { SETTINGS, LOG_LEVEL } from '../../store/mutationTypes';

export default {
  components: { Layout },
  data() {
    return {
      loading: true,
      settings: {},
    };
  },
  computed: {
    logLevel: {
      get() {
        return this.$store.state.logLevel;
      },
      set(value) {
        this.$store.commit(LOG_LEVEL, value);
      },
    },
  },
  mounted() {
    this.load();
  },
  methods: {
    async load() {
      const response = await this.axios.get('config');
      this.settings = response.data;
      this.loading = false;
    },
    async save() {
      this.loading = true;
      try {
        const resp = await this.axios.post('config', this.settings);

        // Update the local settings.
        this.$store.commit(SETTINGS, resp.data);
      } catch (e) {
        alert(e);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped></style>
