<template>
  <Layout :auto-hide-on-load="false" :fluid="true">
    <h2>Manage Translations</h2>
    <div class="row mr-2 ml-1">
      <div class="col-12 border">
        <h3>Languages</h3>
        <BButton v-b-modal.newLang size="sm">
          New Language
        </BButton>

        <BModal id="newLang" ref="newLang" ok-title="Save" title="New Language" @ok="saveLanguage">
          <div v-if="!langLoading" class="form-inline">
            <div v-if="langError" class="alert alert-danger">
              {{ langError }}
            </div>
            <label for="langId">Language ID</label>
            <input id="langId" v-model="langId" class="form-control" />
          </div>
          <div v-else>
            <FaIcon icon="spinner" spin />
          </div>
        </BModal>

        <ul>
          <li v-for="lang in langData" :key="lang">
            <EditableString :string-id="'_language_' + lang" item-label="Name of Language" />
          </li>
        </ul>
      </div>
      <div class="col-12 border">
        <h3 class="float-left">
          Translations
        </h3>
        <BButton
          variant="primary"
          :disabled="translationsLoading"
          class="float-right mt-1"
          @click="saveTranslations"
        >
          Save
        </BButton>
        <BButton v-b-modal.newString class="float-right mt-1 mr-3">
          Add String
        </BButton>
        <BButton :disabled="translationsLoading" class="float-right my-1 mr-3" @click="copyStrings">
          Copy from other site
        </BButton>

        <BModal
          id="newString"
          ref="newString"
          lazy
          ok-title="Save"
          title="New String"
          @ok="saveString"
        >
          <div class="alert alert-danger">
            This should only be used by the developer.
          </div>
          <div v-if="stringError" class="alert alert-danger">
            {{ stringError }}
          </div>
          <div class="form-inline">
            <label for="stringId">id</label>
            <input id="stringId" v-model="stringId" class="form-control" />

            <EditableStringInputs
              ref="newStringTranslation"
              :string-id="stringId"
              item-label="Translation"
            />

            (You may need to navigate back and forward to get the table to refresh.)
          </div>
        </BModal>

        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>id</th>
              <th>{{ $t('_language_en') }}</th>
              <th style="width: 50%;">
                <select v-model="locale" class="form-control" @change="loadTranslations">
                  <option v-for="l in langData" :key="l" :value="l">
                    {{ $t('_language_' + l) }}
                  </option>
                </select>
              </th>
              <th />
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v, k) in translations" :key="k">
              <td>{{ k }}</td>
              <td>{{ $t(k) }}</td>
              <td>
                <input v-model.lazy="translations[k]" type="text" class="form-control" />
              </td>
              <td>
                <BButton tabindex="-1" variant="danger" size="sm" @click="deleteString(k)">
                  <FaIcon icon="trash" />
                </BButton>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <CopyStringsFromSite ref="copyStrings" />
  </Layout>
</template>

<script>
import Languages from 'mixins/Languages';

import Layout from 'AdminLayout';
import EditableString from 'components/admin/EditableString';
import EditableStringInputs from 'components/admin/EditableStringInputs';
import CopyStringsFromSite from 'components/admin/CopyStringsFromSite';

import { LoadTranslations } from 'i18n';
import _merge from 'lodash/merge';
import _keys from 'lodash/keys';

export default {
  components: {
    Layout,
    EditableString,
    EditableStringInputs,
    CopyStringsFromSite,
  },
  mixins: [Languages],
  data() {
    return {
      langId: '',
      langError: '',
      locale: 'en',
      translations: {},
      translationsLoading: false,
      stringId: '',
      stringError: '',
    };
  },
  computed: {
    sites() {
      return this.$store.state.admin.sites;
    },
  },
  mounted() {
    this.loadLanguages();
    this.loadTranslations();
  },
  methods: {
    saveLanguage(e) {
      e.preventDefault();

      if (this.langId.length === 0 || this.langId.length > 4) {
        this.langError = 'The Language ID must be less than 4 characters long';
        return;
      }

      this.axios
        .post('language', { lang: this.langId })
        .then(() => {
          this.langId = '';
          this.loadLanguages(true);
          this.loadTranslations();
          this.$refs.newLang.hide();
        })
        .catch((err) => alert(err));
    },
    deleteString(id) {
      if (confirm(`Are you sure you want to delete "${id}"?`) !== true) {
        return;
      }

      this.axios
        .delete(`translation/string/${id}`)
        .then(() => {
          delete this.translations[id];
          this.loadTranslations();
        })
        .catch((err) => alert(err));
    },
    saveString(e) {
      e.preventDefault();

      if (this.stringId.length === 0) {
        this.stringError = 'Please supply a string ID';
        return;
      }

      this.$refs.newStringTranslation
        .save()
        .then(() => {
          this.stringId = '';
          this.stringError = '';
          this.loadTranslations();
          this.$refs.newString.hide();
        })
        .catch((err) => alert(err));
    },
    loadTranslations() {
      return LoadTranslations(this.locale).then((messages) => {
        const strings = _merge(_keys(messages), _keys(this.translations));
        for (let i = 0; i < strings.length; i++) {
          let id = strings[i];

          if (messages[id]) {
            this.$set(this.translations, id, messages[id]);
          } else {
            this.$set(this.translations, id, '');
          }
        }

        return this.translations;
      });
    },
    saveTranslations() {
      this.translationsLoading = true;
      this.axios
        .post('translation/' + this.locale, this.translations)
        .then(() => {
          this.loadTranslations().then(() => {
            this.translationsLoading = false;
          });
        })
        .catch(() => {
          this.translationsLoading = false;
        });
    },
    copyStrings() {
      this.$refs.copyStrings.show();
    },
  },
};
</script>
