<template>
  <layout :fluid="false">
    <div class="row mb-2">
      <BButton @click="newUser">
        New Admin User
      </BButton>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody v-if="!loading">
        <tr v-for="(u, k) in users" :key="k">
          <td>
            {{ u.email }}
          </td>
          <td>
            <BButton size="sm" variant="primary" @click="edit(k)">
              Edit
            </BButton>
            <BButton size="sm" variant="danger" @click="deleteUser(k)">
              Delete
            </BButton>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="3">
            <Loading />
          </td>
        </tr>
      </tbody>
    </table>
    <BModal ref="edit" title="Admin User" ok-title="Save" @ok="saveUser">
      <div class="form-inline mb-2">
        <label for="email">Email</label>
        <input id="email" v-model="editUser.email" type="email" class="form-control" />
      </div>

      <div class="form-inline mb-2">
        <label for="pass1">Password</label>
        <input id="pass1" v-model="editUser.pass1" type="password" class="form-control" />
      </div>

      <div class="form-inline">
        <label>Password Again</label>
        <input id="pass2" v-model="editUser.pass2" type="password" class="form-control" />
      </div>
    </BModal>
  </layout>
</template>

<script>
import Layout from 'AdminLayout';
import Loading from '../../components/Loading';

export default {
  components: { Loading, Layout },
  data() {
    return {
      loading: false,
      users: [],
      editUser: {
        id: null,
        email: null,
        pass1: null,
        pass2: null,
      },
    };
  },
  mounted() {
    this.loadUsers();
  },
  methods: {
    edit(key) {
      const user = this.users[key];

      this.editUser.id = user.id;
      this.editUser.email = user.email;
      this.editUser.pass1 = null;
      this.editUser.pass2 = null;

      this.$refs.edit.show();
    },
    newUser() {
      this.editUser.id = null;
      this.editUser.email = null;
      this.editUser.pass1 = null;
      this.editUser.pass2 = null;

      this.$refs.edit.show();
    },
    saveUser(e) {
      e.preventDefault();

      if (this.editUser.pass1.length === 0) {
        alert('You must supply the password');
        return;
      }

      if (this.editUser.pass1 !== this.editUser.pass2) {
        alert('Passwords do not match');
        return;
      }

      this.axios
        .post('user', {
          id: this.editUser.id,
          email: this.editUser.email,
          password: this.editUser.pass1,
        })
        .then(() => {
          this.loadUsers();
          this.$refs.edit.hide();
        })
        .catch((err) => alert(err));
    },
    deleteUser(key) {
      const user = this.users[key];
      if (!confirm('are you want to delete ' + user.email + '?')) {
        return;
      }

      this.axios
        .delete('user/' + user.id)
        .then(() => {
          this.loadUsers();
        })
        .catch((err) => alert(err));
    },
    loadUsers() {
      this.loading = true;
      this.axios
        .get('user')
        .then((response) => {
          this.users = response.data;
          this.loading = false;
        })
        .catch((err) => {
          alert(err);
          this.loading = false;
        });
    },
  },
};
</script>

<style scoped></style>
